<div style="margin-left: 3%;margin-right: 3%;">
	<div style="margin-top: 2%;">
		<div style="float: left">
			<button style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px " (click)="copyToClipboard('productsTable');">Copy</button>
        	<button style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px " (click)="download();">CSV</button>
			<button style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px " (click)="generatePDF('productsTable');">PDF</button>
        	<button style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px " (click)="printDiv('productsTable');">Print</button>
		</div>
		<div style="float: right">
			<label style="text-transform: none">Search:</label>
		<input type="text" [(ngModel)] ="filter" class="form-control" style="min-height: 35px;display: -webkit-inline-box;width: 80%;max-width: 100%" placeholder="Search">
		</div>	
	</div>

	<div role="tabpanel" class="tab-pane fade in" id="ViewProductGridViewDiv" style="clear: both">
		<div id="getProducts">
			<div class="form-group">
				<table id="productsTable"
					class="table table-striped table-bordered" cellspacing="0"
					width="100%">
					<thead>
						<tr>
							<th (click)="sort(sortType,'product_name')">Product</th>
							<th (click)="sort(sortType,'orgName')">Platform</th>
							<th (click)="sort(sortType,'dateCreated')">Date Created</th>
						</tr>
					</thead>
					<tbody id="productsTbody">
						<tr *ngFor="let item of allProducts | viewProductFilter : filter | orderBy:sortVal">
							<td>{{item.product_name}}</td>
							<td>{{item.orgName}}</td>
							<td>{{item.dateCreated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div *ngIf="showModal" class="modal" tabindex="-1" id="testModal" role="dialog" aria-hidden="true" align="center" style="opacity: 1;">
	<div class="modal-dialog"  style="max-height:100px;  margin-top:275px; margin-bottom:20px; width: 400px ;">
        <div class="modal-content" style="border: 1px solid #000000;box-shadow: 1px 1px 1px #000000;height:100%">
			<div align="center" style="background-color:#EEEEEE;height: 50%; padding:10px;">
				<label style="text-transform: none;font-size:20px;color: #000000;">Copy to clipboard</label>
			</div>
			<div align="center"  style="background-color:#ffffff;height: 50%; padding:10px;">
				<label style="text-transform: none;font-size:15px;color: #000000;">Copied {{allProducts.length}} rows To clipboard</label>
			</div>
		</div>
	</div>
</div>

<div  *ngIf="showLoader" class="modal" tabindex="-1" id="testModal" role="dialog" aria-hidden="true" align="center" style="opacity: 0.8;">
	<div class="modal-dialog"  style="max-height:150px;opacity: 0.8;  margin-top:300px; margin-bottom:20px; width: 400px ;">
    	<div class="loader">
	    </div>
	</div>
</div>

 