

<div class="wrapper inner inner_large no-padding no-margin">
	<div class="dls-container no-padding no-margin">
	<div id="dls-page-container" class=" devportal-app-dashboard dls-content container-fluid page-active no-padding no-margin">
		<div class="dls-panel-row faq-banner-mobile no-padding no-margin " id="faq-banner">
			<div class="panel panel-heading-first devportal-mobile-jumbotron devportal-products-list-panel">
				<div class="panel-content no-padding no-margin">
				<!--<h1>Amex for Developers Frequently Asked Questions</h1>-->
				<h1 class="heading-5 dls-accent-white-01 " style="padding-left: 20px;">FAQ</h1>
				</div>
			</div>
		</div>
		<br/>
		<div id="faqCntr" >
		<div class="form-group">
			<input class="form-control ng-pristine" type="text" [(ngModel)] ="nameFilter" placeholder="Search Frequently Asked Questions" style="margin-left: 19px;"/>
		</div>
		<div>
			<ul class="nav nav-vertical dls-nav"  *ngFor="let ques of question | filter : nameFilter" >
				<li class="nav-item	accordion" style="background: #fff;margin-bottom: 10px;" ><a
						 class="nav-link accordion-toggle" data-toggle="accordion"
						 role="button" aria-haspopup="true"><h2 class="dls-accent-gray-04 heading-2" innerHTML="{{ques.questn}}"> </h2></a>
					<div class="accordion-content" role="tabpanel" style="display: none;padding: 15px;">
						<ul class="nav">
							<li class="nav-item"><p innerHTML="{{ques.answer}}"></p></li>
						</ul>
					</div>
				</li>
			</ul>
			</div>
		</div>