<div class="swagger-section" align="left">
    <div id="message-bar" class="swagger-ui-wrap" align="left">&nbsp;</div>
    <div id="swagger-ui-container" class="swagger-ui-wrap" align="left"></div>
</div>