

<div class="wrapper inner inner_large" style="height:80%">
		<div class="dls-menu menu">
            <div class="menu-container devportal-sidebar" >
                <div id="sticky-anchor"></div>
                <div class="menu-viewport devportal-sidebar sticky" id="sticky_nav" style="max-height: none;">
                    <div class="menu-status"></div>
                    <div class="banner-bottom-grids">
                        <nav class="menu-nav dls-docs-sidebar">
                            <ul class="nav nav-vertical dls-nav">
                                <li *ngFor="let entry of leftNav | keys; let i=index " (click)="addActiveClass(i)" [ngClass]="{'active': highlightedDiv === i ,'nav-item no-border' :true }" >
                                    <a pageScroll [pageScrollOffset]="120" [href]= "'#'+entry.key" class="nav-link">{{entry.value}}</a>
                                </li>
                                <li class="nav-item no-border"><a class="nav-link" (click)="navigateApiReference();">API Reference</a></li><!-- onclick="getApiReference()" -->
                            </ul>
                        </nav>
                    </div>							
                </div>
            </div>
	    </div>       
   
     <div class="dls-container">
          <div style="float:right;width:13%;"> <strong>Document Version</strong></div>
         <div style="height:60px;clear:both;">
             <span><button type="button" class="prod-btn btn btn-default marginTop20" (click)="updateCurrentDoc()">Update Current Version</button></span>
             <span><button type="button" class="prod-btn btn btn-default marginTop20" >Create New Version</button></span>
             <span><button type="button" class="prod-btn btn btn-default marginTop20" >Publish to Current</button></span>
             <span><button type="button" class="prod-btn btn btn-default marginTop20" >Publish to Beta</button></span>
             <span style="margin-left:50px;width: 29.5%;">
                 <select name="files" class="form-control marginTop20">
                    <option>{{lastModifiedFile}}</option> <!-- [disabled]="item.countryCode==0" -->
                </select>
             </span>
         </div>
         <div id="prodAPIDoc" contenteditable="true" class="container col-md-10 section-documentation" style="text-align: left; position: relative;" [innerHTML]="documentation | sanitizeHtml" (focus)="focusFunction()" ><!-- (focusout)="focusOutFunction()" -->
        </div>
    </div>
</div>
<div style="margin-top:100px;">
</div>
<div *ngIf="showModal" class="modal" tabindex="-1" id="testModal" role="dialog" aria-hidden="true" align="center" style="opacity: 1;">
	<div class="modal-dialog"  style="max-height:50px;  margin-top:275px; margin-bottom:20px; width: 400px ;">
        <div class="modal-content" style="border: 1px solid #000000;box-shadow: 1px 1px 1px #000000;height: 100%;padding: 3%;border-radius: 10px;">
			
				<label style="text-transform: none;font-size:20px;color: #060;">Document updated successfully</label>
			
		</div>
	</div>
</div>

