.products-list-thumbmail { 
  min-height:160px; 
  height:160px;
  background:rgb(232,232,232);
  background-image:linear-gradient(to bottom, #ffffff 50%, #dcddd3);
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
}

.products-list-thumbmail:hover, .products-list-thumbmail:focus {
  background-image: linear-gradient(to bottom, #ecf5fa 50%, #98abb5);
}

.stick {
  position:fixed;
  top:0px !important;
}
.top308{
	top : 308px;
}
#leftNav .nav-item.active, #leftNav .nav-item.open{
	background-color: inherit !important;
}
.radio-margin{
	margin: 0 10px;
}
.devportal-app-dashboard .devportal-products-list-panel{
	background: url("https://web.aexp-static.com/EnterpriseAPIPortal/images/APIDevPortal/products-banner-blue-01.png") left top /cover no-repeat !important;
}

.devportal-sidebar .nav-item.active{
	display: block!important;
}
.menu {
    background: none !important;
}
 .dls-menu .menu-container {
     top: 7.0rem;
     height:62%;
     overflow-y:auto;
 }

#sticky_nav.stick {
    margin-top: 100px!important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 .5em .5em;
    width: 320px;
    background: #fff;
}

.dls-menu .menu-viewport {
    overflow-y: scroll;
    max-height: 100%;
}


.active{
    display: block!important;
    background-color: #f7f8f9;
    font-family: BentonSans-Medium;
    font-size: 16px!important;
    line-height: 26px;
} 

.nav-vertical .nav-link
{
    padding: 5px 1.10rem;
}

.prod-btn{
    padding: 0.3125rem 0.275rem !important;
    margin-right:0px !important;
}

.dls-container{
    padding-top: 1.5rem;
}

.form-control{
    width: inherit;
    min-height: 32px;
    display: inline;

}
.marginTop20
{
    margin-top: 20px;
}