
<div role="tabpanel" class="tab-pane fade in" id="UserProductsGridViewDiv" style="margin: 2% 2%;">
	<div style="width: 22%;margin-bottom: 3px;float:right;" >
           <label style="text-transform: none;">Search : </label> <input class="form-control" type="text" style="display:inline;width:78%;min-height: 2.125rem;" [(ngModel)] ="prodFilter"  placeholder="Search"/>
    </div>
	<div id="getPublicProducts">
		<div class="form-group" style="width:100%;">
			<table id="publicProductsTable"
				class="table table-striped table-bordered" cellspacing="0"
				width="100% ;clear:both;">
				<thead>
					<tr>
						<th style="width:20%;" (click)="sort(sortType,'orgName')">PLATFORM NAME<span *ngIf="sortVal == 'orgName'|| sortVal == '-orgName'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
						<th style="width:20%;" (click)="sort(sortType,'product_name')">PRODUCT NAME<span  *ngIf="sortVal == 'product_name' || sortVal == '-product_name'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
						<th style="width:20%;" (click)="sort(sortType,'product_desc')">PRODUCT DESCRIPTION<span *ngIf="sortVal == 'product_desc' || sortVal == '-product_desc'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
						<th style="width:15%;" (click)="sort(sortType,'dateCreated')">DATE CREATED<span *ngIf="sortVal == 'dateCreated' || sortVal == '-dateCreated'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
						<th style="width:25%;  text-align: center;">PRODUCT DOCUMENTATION</th>
					</tr>
				</thead>
				<tbody id="publicProductsTbody">
					<tr *ngFor="let item of productsDetails | orderBy:sortVal | productFilter : prodFilter : 'orgName':'product_name':'product_desc':'dateCreated'">
						<td>{{item.orgName}}</td>
						<td>{{item.product_name}}</td>
						<td>{{item.product_desc}}</td>
						<td>{{item.dateCreated}}</td>
						<td align="center"><a class="documentationbutton" (click)=productDetail(item);>Documentation</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>