<!-- Breadcrumbs -->
<div class="dls-breadcrumbs breadcrumbs">
	<div class="breadcrumbs-container">
		<div class="breadcrumbs-menu">
			<a class="btn-dls-burger"><span></span></a>
		</div>
		<ul class="breadcrumb dls-accent-blue-02 heading-3">
			<li>Admin</li>
		</ul>
	</div>
</div>
<!-- End Breadcrumbs -->

<div class="devportal-app-dashboard page-active" id="dls-page-container">
	<div class="dls-panel-row row-active no-padding">
		<div class="panel panel-heading-first devportal-products-list-panel ">
			<div class="panel-content inner inner_large ">
				<h1 class="heading-5 dls-accent-white-01">Admin</h1>
			</div>
		</div>
	</div>
	<div class="wrapper inner inner_large no-padding">
		<div class="dls-menu menu">
			<div class="menu-container devportal-sidebar " style=" top: 1.8125rem;" position="relative">
				<div id="sticky-anchor"></div>
				<div class="menu-viewport devportal-sidebar" id="sticky_nav">
					<div class="menu-status"></div>


                        <div class="banner-bottom-grids" style="padding-left: 5px;" >
							  <nav class="menu-nav dls-docs-sidebar">
								   <ul id="leftNav" class="nav nav-vertical top308">
									   <li class="nav-item no-border " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link text-truncate " [routerLink]="['/admin', {outlets: {'admin-nav': ['platform']}}]"  >Manage Users</a></li>
										<li class="nav-item accordion" ><a class="nav-link accordion-toggle" data-toggle="accordion" role="button" aria-haspopup="true" aria-expanded="true">Platform</a>
										<div class="accordion-content" role="tabpanel"  style="padding-left: 20px;" >
										<ul class="nav">
											 <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/admin', {outlets: {'admin-nav': ['addPlatform']}}]">Add Platform</a></li>
											 <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/admin', {outlets: {'admin-nav': ['editPlatform']}}]" >Edit Platform</a></li>
											 <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/admin', {outlets: {'admin-nav': ['deletePlatform']}}]">Delete Platform</a></li>
										</ul>
								   		</div>
							 		</li>
								   <li class="nav-item accordion" ><a class="nav-link accordion-toggle" data-toggle="accordion" role="button" aria-haspopup="true" aria-expanded="true">Products</a>
										<div class="accordion-content" role="tabpanel" style="padding-left: 20px;" >
											<ul class="nav">
												<li class="nav-item" [routerLinkActive]="['active']" ><a class="nav-link" [routerLink]="['/admin', {outlets: {'admin-nav': ['adminaddproduct']}}]">Add Product</a></li>
												<li class="nav-item" [routerLinkActive]="['active']" ><a class="nav-link" [routerLink]="['/admin', {outlets: {'admin-nav': ['admineditproduct']}}]">Edit Product</a></li>
												<li class="nav-item" [routerLinkActive]="['active']" ><a class="nav-link" [routerLink]="['/admin', {outlets: {'admin-nav': ['deleteProduct']}}]" >Delete Product</a></li>
											</ul>
								   		</div>
							 		</li>
							  <li class="nav-item no-border " [routerLinkActive]="['active']"><a class="nav-link text-truncate " [routerLink]="['/admin', {outlets: {'admin-nav': ['mapplatformproduct']}}]">Map Platform-Product</a></li>
							  <li class="nav-item no-border " [routerLinkActive]="['active']"><a class="nav-link text-truncate " [routerLink]="['/admin', {outlets: {'admin-nav': ['viewallusers']}}]">View All Users</a></li>
							  <li class="nav-item no-border " [routerLinkActive]="['active']"><a class="nav-link text-truncate " [routerLink]="['/admin', {outlets: {'admin-nav': ['adminviewproduct']}}]">View All Products</a></li>
						 </ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 100%; background: #fff">
		<router-outlet name="admin-nav"></router-outlet>
		</div>
</div>
</div>