/* ==========================================================================
   Typography
   ========================================================================== */

@font-face {
  font-family: BentonSans-Book;
  src: url("../fonts/BentonSans-Book.otf") format("opentype"), url("../fonts/BentonSans-Book.woff") format("woff");
}


@font-face {
  font-family: BentonSans-Light;
  src: url("../fonts/BentonSans-Light.otf") format("opentype"), url("../fonts/BentonSans-Light.woff") format("woff");
}

@font-face {
  font-family: BentonSans-Medium;
  src: url("../fonts/BentonSans-Medium.otf") format("opentype"), url("../fonts/BentonSans-Medium.woff") format("woff");
}

@font-face {
  font-family: BentonSans-Regular;
  src: url("../fonts/BentonSans-Regular.otf") format("opentype"), url("../fonts/BentonSans-Regular.woff") format("woff");
}















/*=====================================================
=            HOME, Header, Footer specific            =
=======================================================*/

canvas.home-canvas{
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

a.homepage-anchor:focus {
  outline: thin dotted;
}
a.homepage-anchor:active,
a.homepage-anchor:hover {
  outline: 0;
}

h1.hero-header {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
  font-family: BentonSans-Light !important;
}

h2.devportal-apiconnect {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 10px;
}

footer > h4.privacy-statement {
  margin: 1.33em 0;
  font-weight: normal;
}

#home-page-p {
    margin: 1em 0 0 0;
    padding-bottom: 1.0em;
    line-height: 1.5em;
}

nav#homepage-nav > ul.nav-list{
  list-style: none;
  list-style-image: none;
}

a.homepage-anchor:focus {
  outline: none;
}

ul.homepage-list li {
  list-style: none;
}

header,footer,div#home-body-content {
  font-family: BentonSans-Book, Arial;
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
}

a.homepage-anchor{
  cursor: pointer;
  -webkit-transition: color ease-out 0.2s, background-color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s, background-color ease-out 0.2s;
  transition: color ease-out 0.2s, background-color ease-out 0.2s;
}

.homepage-btn {
  text-align: center;
  margin: auto;
  display: block;
  font-size: 12px;
  min-width: 180px;
  max-width: 280px;
  padding: 12px;
  border-radius: 5px;
  background-color: #1274b8;
  color: #fff;
  -webkit-transition: background-color ease-out 0.1s;
  -moz-transition: background-color ease-out 0.1s;
  transition: background-color ease-out 0.1s;
}

.homepage-btn:hover {
  background-color: #197cc0;
  background-color: #1869a3;
}

@media screen and (min-width: 768px) {
    header,footer,div#home-body-content {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
    header,footer,div#home-body-content {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .homepage-btn {
    padding: 17px;
    font-size: 16px;
  }
}


.scene-wrap {
  overflow: hidden;
}

.scene {
  position: relative;
}

.scene:before, .scene:after {
  content: "";
  position: absolute;
  top: 0;
  background: inherit;
  height: 50vw;
  width: 2000em;
  -webkit-transition: -webkit-transform ease-out 1s;
  -moz-transition: -moz-transform ease-out 1s;
  transition: transform ease-out 1s;
}

.scene:before {
  right: 50%;
  -webkit-transform: rotateZ(10deg);
  -moz-transform: rotateZ(10deg);
  -ms-transform: rotateZ(10deg);
  -o-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}

.scene:after {
  left: 50%;
  -webkit-transform: rotateZ(-10deg);
  -moz-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  -o-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}


@media screen and (min-width: 768px) {
  .scene {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}



@-webkit-keyframes moveScene {}@-moz-keyframes moveScene {}@keyframes moveScene {}.scene_first {
                                                                                    padding-top: 35px;
                                                                                  }

.scene_first:before, .scene_first:after {
  content: none;
}

.scene_hero {
  background: #00205b;
  background: #092e68;
  background: #002662;
}

.scene_hero .back:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0), #002662);
  background-image: radial-gradient( ellipse  at center, rgba(255, 255, 255, 0), #002662);
  background: -webkit-radial-gradient(center, ellipse cover, transparent, #002662 100%);
}

.scene_api {
  background: #d9e1e9;
  background: #d3dbe3;
  z-index: 0;
  padding-top: 120px;
  padding-bottom: 150px;
}

@media screen and (min-width: 768px) {
  .scene_api {
    padding-top: 250px;
    padding-bottom: 270px;
  }
}

.scene_cloud {
  background: #fff;
  padding: 70px 15px 90px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.scene_first .back {
  z-index: 0;
}

canvas {
  width: 100%;
}

.gradient {
  height: 100%;
}

.gradient:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 50%, #d3dbe3);
  background-image: linear-gradient(to top,rgba(255, 255, 255, 0) 50%, #d3dbe3);
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 50%, #d3dbe3);
}


.front {
  width: 100%;
  position: relative;
  font-family: BentonSans-Regular, Arial;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0) !important;
}

.front_vcent {
  left: 0;
  padding-top: 20vh;
}

.front__item {
  -webkit-box-flex: auto;
  -moz-box-flex: auto;
  box-flex: auto;
  -webkit-flex: auto;
  -moz-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  width: 100%;
}



.hero-copy {
  text-align: center;
  color: #fff;
  max-width: 600px;
  margin: auto;
  padding-bottom: 20px;
  font-family: BentonSans-Light, Arial;
}

.hero-copy h1 {
  font-size: 45px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero-copy {
    padding-bottom: 30px;
  }
  .hero-copy h1 {
    font-size: 90px;
    padding-bottom: 10px;
  }
  .hero-copy p {
    font-size: 24px;
  }
}

.hero-img {
  opacity: 0.15;
  width: 100%;
  top: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  min-width: 100%;
  height: auto;
  width: auto;
}

.hero-devices {
  position: relative;
  z-index: 2;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-devices {
    height: 480px;
    position: static;
    margin-bottom: -120px;
  }
}

@media screen and (max-height: 768px) and (max-width: 768px) {
  .hero-devices {
    top: 75%;
  }
}

.device {
  width: 100%;
  position: relative;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .device {
    bottom: -120px;
    width: 90%;
    bottom: 0;
    top: auto;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .device_left, .device_right {
    display: block;
  }
}

.device-frame {
  position: relative;
  width: 85%;
  margin: auto;
  display: block;
}

.device-screen {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.ipad {
  max-height: 370px;
  max-width: 270px;
}

.ipad .device-screen {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  top: 5%;
  width: 70%;
}

@media screen and (min-width: 768px) {
  .ipad {
    left: 5%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .ipad, .iphone {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
}

@media screen and (min-width: 768px) {
  .ipad, .iphone {
    position: absolute;
    bottom: 0;
  }
}

.imac {
  margin: auto;
  z-index: -1;
}

.imac .device-screen {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  width: 75%;
  top: 5%;
}

@media screen and (min-width: 768px) {
  .imac {
    max-height: 480px;
    max-width: 620px;
  }
  .imac .device-screen {
    width: 76%;
    top: 5%;
  }
}

.iphone {
  max-height: 337px;
  max-width: 183px;
}

.iphone .device-screen {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  top: 9%;
  width: 65%;
}

@media screen and (min-width: 768px) {
  .iphone {
    right: 12%;
  }
}

.swiper-slide {
  width: 100%;
  min-width: 100vw;
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    min-width: 0;
    position: absolute;
    top: 0;
    height: 100%;
  }
}

.swiper-wrapper {
  max-width: 984px;
  margin: auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .swiper-wrapper {
    height: 100%;
  }
}



.api-copy {
  text-align: center;
  color: #092e68;
  font-size: 16px;
  padding-bottom: 40px;
  margin: auto;
}

.api-copy h2 {
  line-height: 1.45em;
}

@media screen and (min-width: 768px) {
  .api-copy {
    font-size: 32px;
    padding-bottom: 70px;
    max-width: 520px;
  }
}

@media screen and (min-width: 1024px) {
  .api-copy {
    padding-bottom: 130px;
  }
}

.api-collection {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin: auto;
}

@media screen and (min-width: 375px) {
  .api-collection {
    max-width: 85%;
  }
}

@media screen and (min-width: 768px) {
  .api-collection {
    max-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .api-collection {
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    max-width: 1152px;
    margin: auto;
  }
}

.api {
  width: 120px;
  height: 120px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 4vw;
}

.api:before {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #197cc0;
  opacity: 0.2;
  -webkit-transition: -webkit-transform ease-in 0.2s;
  -moz-transition: -moz-transform ease-in 0.2s;
  transition: transform ease-in 0.2s;
}

.api:after {
  content: "";
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #197cc0;
  -webkit-transition: -webkit-transform ease-out 0.1s;
  -moz-transition: -moz-transform ease-out 0.1s;
  transition: transform ease-out 0.1s;
}

.api:hover:before {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: -webkit-transform ease-out 0.2s 0.1s;
  -moz-transition: -moz-transform ease-out 0.2s 0.1s;
  transition: transform ease-out 0.2s 0.1s;
}

.api:hover:after {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform ease-out 0.1s 0.15s;
  -moz-transition: -moz-transform ease-out 0.1s 0.15s;
  transition: transform ease-out 0.1s 0.15s;
}

.api:hover .api__active img {
  width: 60%;
  display: block;
}

.api:hover .api__active:before {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: -webkit-transform ease-out 0.2s 0.05s;
  -moz-transition: -moz-transform ease-out 0.2s 0.05s;
  transition: transform ease-out 0.2s 0.05s;
}

.api:hover .api__active:after {
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  -webkit-transition: -webkit-transform ease-out 0.2s;
  -moz-transition: -moz-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
}

@media screen and (min-width: 600px) {
  .api {
    margin: 6vw;
  }
}

@media screen and (min-width: 768px) {
  .api {
    width: 190px;
    height: 190px;
  }
  .api:hover .api__active img {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .api {
    margin: 0;
  }
  .api:first-child, .api:last-child {
    -webkit-transition: -webkit-transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s 0s;
    -moz-transition: -moz-transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s 0s;
    transition: transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s 0s;
  }
  .in-move .api:first-child, .in-move .api:last-child {
    -webkit-transform: translateY(-75px);
    -moz-transform: translateY(-75px);
    -ms-transform: translateY(-75px);
    -o-transform: translateY(-75px);
    transform: translateY(-75px);
  }
}

.api__default {
  -webkit-transition: -webkit-transform ease-out 0.1s;
  -moz-transition: -moz-transform ease-out 0.1s;
  transition: transform ease-out 0.1s;
  width: 100%;
  z-index: 1;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  font-family: BentonSans-Medium, Arial;
}

.api__default img {
  display: block;
  margin: auto;
  padding-bottom: 20px;
  max-width: 25px;
}

.api__default span {
  display: block;
  text-transform: uppercase;
  max-width: 80%;
  margin: auto;
  line-height: 1.5em;
  font-size: 10px;
  font-family: BentonSans-Regular, Arial;
}

@media screen and (min-width: 768px) {
  .api__default img {
    max-width: none;
  }
  .api__default span {
    font-size: 16px;
  }
}

.api__active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform ease-in 0.1s;
  -moz-transition: -moz-transform ease-in 0.1s;
  transition: transform ease-in 0.1s;
  border-radius: 50%;
  z-index: 1;
}

.api__active img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

.api__active:before, .api__active:after {
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #197cc0;
}

.api__active:before {
  -webkit-transition: -webkit-transform ease-in 0.2s 0.1s;
  -moz-transition: -moz-transform ease-in 0.2s 0.1s;
  transition: transform ease-in 0.2s 0.1s;
  opacity: 0.15;
}

.api__active:after {
  -webkit-transition: -webkit-transform ease-in 0.2s 0.05s;
  -moz-transition: -moz-transform ease-in 0.2s 0.05s;
  transition: transform ease-in 0.2s 0.05s;
  opacity: 0.05;
}

.cloud-copy {
  font-size: 12px;
  text-align: center;
  max-width: 570px;
}

@media screen and (min-width: 375px) {
  .cloud-copy {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .cloud-copy p {
    line-height: 1.7em;
  }
}

#icon-list-input {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding-bottom: 20px;
  padding-top: 100px;
}

#icon-list-input li {
  display: inline-block;
  vertical-align: middle;
}

#icon-list-input li:nth-child(2).out,
#icon-list-input li:nth-child(5).out {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

#icon-list-input li:nth-child(2).in,
#icon-list-input li:nth-child(5).in {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

#icon-list-input li:nth-child(3).out,
#icon-list-input li:nth-child(4).out {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

#icon-list-input li:nth-child(3).in,
#icon-list-input li:nth-child(4).in {
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
}

#icon-list-input img {
  -webkit-transition: -webkit-transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s;
  -moz-transition: -moz-transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s;
  transition: transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  #icon-list-input {
    padding-bottom: 40px;
  }
  #icon-list-input li:nth-child(2).out,
  #icon-list-input li:nth-child(5).out {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  #icon-list-input li:nth-child(2).in,
  #icon-list-input li:nth-child(5).in {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  #icon-list-input li:nth-child(3).out,
  #icon-list-input li:nth-child(4).out {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  #icon-list-input li:nth-child(3).in,
  #icon-list-input li:nth-child(4).in {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  #icon-list-input img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}


.out {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
  -moz-transform: translate3d(0, 20px, 0);
  -ms-transform: translate3d(0, 20px, 0);
  -o-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  -webkit-transition: -webkit-transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s, opacity ease-in-out 0.4s, visibility ease 0s 0.3s;
  -moz-transition: -moz-transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s, opacity ease-in-out 0.4s, visibility ease 0s 0.3s;
  transition: transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s, opacity ease-in-out 0.4s, visibility ease 0s 0.3s;
}

.in {
  -webkit-transition: -webkit-transform ease-out 0.3s 0s, opacity ease-in-out 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform ease-out 0.3s 0s, opacity ease-in-out 0.4s 0s, visibility 0s 0s;
  transition: transform ease-out 0.3s 0s, opacity ease-in-out 0.4s 0s, visibility 0s 0s;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
































/*==============================
=            HEADER            =
==============================*/


header.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding-bottom: 15px;
  height: 65px;
  background: #002663;
}

header.header .inner {
  height: 100%;
}

@media screen and (min-width: 1199px) {
  header.header {
    background: transparent;
    padding-bottom: 0;
    opacity: 0;
    height: auto;
    -webkit-transform: translate3d(0, -100px, 0);
    -moz-transform: translate3d(0, -100px, 0);
    -ms-transform: translate3d(0, -100px, 0);
    -o-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    -webkit-transition: -webkit-transform cubic-bezier(0.18, 0.47, 0.11, 0.96) 0.8s 0.3s, opacity ease-in 0.4s 0.3s;
    -moz-transition: -moz-transform cubic-bezier(0.18, 0.47, 0.11, 0.96) 0.8s 0.3s, opacity ease-in 0.4s 0.3s;
    transition: transform cubic-bezier(0.18, 0.47, 0.11, 0.96) 0.8s 0.3s, opacity ease-in 0.4s 0.3s;
  }
  .loaded header.header {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.menu-btn {
  display: block;
  width: 24px;
  height: 16px;
  position: absolute;
  right: 12px;
  top: 25px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn span, .menu-btn:before, .menu-btn:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
}

.menu-btn span {
  top: 7px;
}

.menu-btn:before, .menu-btn:after {
  content: "";
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-btn:before {
  top: 0;
}

.menu-btn:after {
  bottom: 0;
}

@media screen and (min-width: 1199px) {
  .menu-btn {
    display: none;
  }
}



.home-nav-primary {
  position: relative;
  height: 100%;
}

.site-logo {
  color: #fff;
  font-family: BentonSans-Light, Arial;
  font-size: 10px;
  display: inline-block;
  padding-top: 15px;
}

.site-logo span {
  padding-left: 10px;
  max-width: 110px;
  display: inline-block;
  vertical-align: middle;
}

.site-logo img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-width: 32px;
}

@media screen and (min-width: 1199px) {
  .site-logo {
    font-size: 14px;
    padding-top: 30px;
  }
  .site-logo span {
    padding-left: 20px;
  }
  .site-logo img {
    max-width: 52px;
  }
}

.nav-list {
  position: absolute;
  left: -12px;
  right: -12px;
  padding: 20px 12px 10px;
  top: 120%;
  visibility: hidden;
  opacity: 0;
  text-align: right;
  background: #092e68;
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -ms-transform: translate3d(0, -20px, 0);
  -o-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, -webkit-transform cubic-bezier(0.26, 0.6, 0.19, 0.82) 0.4s 0s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s, -moz-transform cubic-bezier(0.26, 0.6, 0.19, 0.82) 0.4s 0s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, transform cubic-bezier(0.26, 0.6, 0.19, 0.82) 0.4s 0s;
}

header.header.active .nav-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, -webkit-transform cubic-bezier(0.26, 0.6, 0.19, 0.82) 0.4s 0s;
  -moz-transition: visibility 0s 0s, opacity 0.3s 0s, -moz-transform cubic-bezier(0.26, 0.6, 0.19, 0.82) 0.4s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s, transform cubic-bezier(0.26, 0.6, 0.19, 0.82) 0.4s 0s;
}

@media screen and (min-width: 1199px) {
  .nav-list {
    background: transparent;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    right: 0;
    left: auto;
    padding: 0;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.2s 0.2s;
  }
}

.nav-list__item {
  color: #fff;
  padding-bottom: 15px;
  position: relative;
}

.nav-list__item a {
  color: inherit;
}

@media screen and (min-width: 1199px) {
  .nav-list__item {
    padding: 0;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
  }
  .nav-list__item a:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #1274b8;
    -webkit-transition: all ease-in 0.1s;
    -moz-transition: all ease-in 0.1s;
    transition: all ease-in 0.1s;
  }
  .nav-list__item a:hover:before {
    height: 5px;
  }
}

.nav-list__item_split a:before {
  content: none;
}













/*==============================
=            FOOTER            =
==============================*/

.homepage-footer-common, .homepage-footer {
    font-family: BentonSans-Regular, Arial;
    border-top: 1px solid #ededed;
    text-align: center;
    padding: 20px 10px;
    background: #f7f8f9;
}



















/*============================
=            COMMON            =
============================*/




body:before {
    content: "";
    display: block;
    position: fixed;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity ease-out 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity ease-out 0.3s 0s, visibility 0s 0.3s;
    transition: opacity ease-out 0.3s 0s, visibility 0s 0.3s;
}

body.loaded {
    overflow: auto;
}

body.loaded:before {
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity ease-out 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity ease-out 0.3s 0s, visibility 0s 0.3s;
    transition: opacity ease-out 0.3s 0s, visibility 0s 0.3s;
}

.inner {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 375px) {
  .inner {
    min-width: 300px;
    margin: auto;
  }
}

@media screen and (min-width: 1199px) {
  .inner {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 984px;
  }
}

@media screen and (min-width: 1024px) {
  .inner_large {
    max-width: 1536px;
  }
}



















/*============================
=            questionable if needed            =
============================*/




/*
.scene.animate .gradient {
  z-index: -1;
}

.scene.animate:before {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.scene.animate:after {
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
*/


