<div style="margin-left: 3%;margin-right: 3%; height: 3%;">
<div role="tabpanel" class="tab-pane fade in" id="PublicProductsGridViewDiv" style="margin-top: 2%;">
	<div id="getPublicProducts">
		<div class="form-group">

   <div class="check">
  		<input type="checkbox" name="inactiveUsers" value="user" (change)="showInActiveStatus(!isInActiveCheckbox)"> View inactive users too<br>
   </div>

<div style="clear: both;margin-left: 0.1%;margin-right: 0%;"> 
	<div  style="float: left;">
	    <button style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px " (click)="copyToClipboard('publicProductsTable');">Copy</button>
        <button style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px " (click)="download();">CSV</button>
		<button style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px " (click)="generatePDF('publicProductsTable');">PDF</button>
        <button style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px " (click)="printDiv('publicProductsTable');">Print</button>
	</div>
	<div style="float: right;margin-top: 0.5%;">
		<label style="text-transform: none">Search:</label>
		<input type="text" style="min-height: 35px;display: -webkit-inline-box;width: 80%;max-width: 100%" class="form-control" placeholder="Search" [(ngModel)] ="nameFilter">
	</div>
		
</div> 
<div style="margin-top: 4%;">
			<table id="publicProductsTable" 
				class="table table-striped table-bordered column-width"  border=1 cellspacing="0" 
				width="100%">
					<thead>
					<tr>
						<th (click)="sort(sortType,'status')" >STATUS</th>
						<th (click)="sort(sortType,'organization')">PLATFORM</th>
						<th (click)="sort(sortType,'fName')">FIRST NAME</th>
						<th (click)="sort(sortType,'lName')">LAST NAME </th>
						<th (click)="sort(sortType,'emailAddress')">EMAIL ID</th>
                        <th (click)="sort(sortType,'userId')">USER ID</th>
						<th (click)="sort(sortType,'roleName')">ROLE </th>
					</tr>
				</thead>
				<tbody id="publicProductsTbody">
					<tr *ngFor="let item of viewAllUsers | filter : nameFilter | orderBy:sortVal">
					 <td [ngClass]= "{'red':item.status === 'N','green':item.status === 'Y'} "><strong>{{item.status == "Y"? "ACTIVE" : "INACTIVE" }}</strong></td>
							<td>{{item.organization}}</td>
							<td>{{item.fName}}</td>
							<td>{{item.lName}}</td>
							<td>{{item.emailAddress}}</td>
							<td>{{item.userId}}</td>
							<td>{{item.roleName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div> 

<div *ngIf="showModal" class="modal" tabindex="-1" id="testModal" role="dialog" aria-hidden="true" align="center" style="opacity: 1;">
	<div class="modal-dialog"  style="max-height:100px;  margin-top:275px; margin-bottom:20px; width: 400px ;">
        <div class="modal-content" style="border: 1px solid #000000;box-shadow: 1px 1px 1px #000000;height:100%">
			<div align="center" style="background-color:#EEEEEE;height: 50%; padding:10px;">
				<label style="text-transform: none;font-size:20px;color: #000000;">Copy to clipboard</label>
			</div>
			<div align="center"  style="background-color:#ffffff;height: 50%; padding:10px;">
				<label style="text-transform: none;font-size:15px;color: #000000;">Copied {{viewAllUsers.length}} rows To clipboard</label>
			</div>
		</div>
	</div>
</div>