.dls-breadcrumbs {
    position: fixed;
    display: block;
    height: auto;
    width: 100%;
    top: 2.8125rem;
    z-index: 2001;
}
.dls-breadcrumbs .breadcrumbs-container {
    display: -webkit-box;table
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.dls-breadcrumbs .breadcrumbs-menu {
    display: inline-block;
    padding-right: 4px;
}
.dls-breadcrumbs .breadcrumb {
    margin-top: -2px;
}
.dls-breadcrumbs .breadcrumb>li:after {
    margin: -6px 0 0;
}
.btn-dls-burger {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: .5rem .5rem .125rem 0;
    margin-top: auto;
    margin-bottom: 0;
    box-sizing: content-box;
}
.btn-dls-burger span {
    margin: 5px 0;
}
.btn-dls-burger span, .btn-dls-burger span:after, .btn-dls-burger span:before {
    position: relative;
    border-radius: 4px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #555;
    -webkit-transition: opacity .1s ease-out, -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
    transition: opacity .1s ease-out, -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
    transition: transform .3s cubic-bezier(.65, 0, .45, 1), opacity .1s ease-out;
    transition: transform .3s cubic-bezier(.65, 0, .45, 1), opacity .1s ease-out, -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
}
.btn-dls-burger span:after, .btn-dls-burger span:before {
    content: ''}
.btn-dls-burger span:before {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}
.btn-dls-burger span:after {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.toggled .btn-dls-burger span {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.toggled .btn-dls-burger span:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.toggled .btn-dls-burger span:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
}
.dls-example-highlight pre {
    position: relative;
    display: block;
    background-color: #fff;
}
.dls-example-highlight .c {
    color: #998;
    font-style: italic;
}
.dls-example-highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}
.dls-example-highlight .k, .dls-example-highlight .o {
    font-weight: 700;
}
.dls-example-highlight .cm {
    color: #998;
    font-style: italic;
}
.dls-example-highlight .cp {
    color: #999;
    font-weight: 700;
}
.dls-example-highlight .c1 {
    color: #998;
    font-style: italic;
}
.dls-example-highlight .cs {
    color: #999;
    font-weight: 700;
    font-style: italic;
}
.dls-example-highlight .gd {
    color: #000;
    background-color: #fdd;
}
.dls-example-highlight .gd .x {
    color: #000;
    background-color: #faa;
}
.dls-example-highlight .ge {
    font-style: italic;
}
.dls-example-highlight .gr {
    color: #a00;
}
.dls-example-highlight .gh {
    color: #999;
}
.dls-example-highlight .gi {
    color: #000;
    background-color: #dfd;
}
.dls-example-highlight .gi .x {
    color: #000;
    background-color: #afa;
}
.dls-example-highlight .go {
    color: #888;
}
.dls-example-highlight .gp {
    color: #555;
}
.dls-example-highlight .gs {
    font-weight: 700;
}
.dls-example-highlight .gu {
    color: purple;
    font-weight: 700;
}
.dls-example-highlight .gt {
    color: #a00;
}
.dls-example-highlight .kc, .dls-example-highlight .kd, .dls-example-highlight .kn, .dls-example-highlight .kp, .dls-example-highlight .kr {
    font-weight: 700;
}
.dls-example-highlight .kt {
    color: #458;
    font-weight: 700;
}
.dls-example-highlight .m {
    color: #099;
}
.dls-example-highlight .s {
    color: #d14;
}
.dls-example-highlight .n {
    color: #333;
}
.dls-example-highlight .na {
    color: teal;
}
.dls-example-highlight .nb {
    color: #0086b3;
}
.dls-example-highlight .nc {
    color: #458;
    font-weight: 700;
}
.dls-example-highlight .no {
    color: teal;
}
.dls-example-highlight .ni {
    color: purple;
}
.dls-example-highlight .ne, .dls-example-highlight .nf {
    color: #900;
    font-weight: 700;
}
.dls-example-highlight .nn {
    color: #555;
}
.dls-example-highlight .nt {
    color: navy;
}
.dls-example-highlight .nv {
    color: teal;
}
.dls-example-highlight .ow {
    font-weight: 700;
}
.dls-example-highlight .w {
    color: #bbb;
}
.dls-example-highlight .mf, .dls-example-highlight .mh, .dls-example-highlight .mi, .dls-example-highlight .mo {
    color: #099;
}
.dls-example-highlight .s2, .dls-example-highlight .sb, .dls-example-highlight .sc, .dls-example-highlight .sd, .dls-example-highlight .se, .dls-example-highlight .sh, .dls-example-highlight .si, .dls-example-highlight .sx {
    color: #d14;
}
.dls-example-highlight .sr {
    color: #009926;
}
.dls-example-highlight .s1 {
    color: #d14;
}
.dls-example-highlight .ss {
    color: #990073;
}
.dls-example-highlight .bp {
    color: #999;
}
.dls-example-highlight .vc, .dls-example-highlight .vg, .dls-example-highlight .vi {
    color: teal;
}
.dls-example-highlight .il {
    color: #099;
}
.dls-example-highlight .gc {
    color: #999;
    background-color: #eaf2f5;
}
.dls-example {
    position: relative;
    padding: 1.875rem 1.25rem;
    padding-bottom: 0;
}
.dls-example hr:not([class]) {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.dls-example-bordered {
    border-top: 1px solid #efeff1;
}
.dls-example+:not(.dls-example) {
    margin-top: 3.375rem;
}
.dls-example+.dls-example {
    margin-top: 1.875rem;
}
.panel .dls-example {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}
.dls-example:not(.dls-example-bordered) {
    padding-top: 0;
}
.dls-example pre {
    padding-top: 2.5rem !important;
    padding-bottom: 0;
    margin-bottom: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
}
.dls-example-source-buttons, .dls-example pre {
    border-bottom: 1px solid #efeff1;
}
.dls-example-source-copy-btn, .dls-example-source-toggle {
    display: inline-block;
    padding: .75rem .625rem .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #1274b8;
    background-color: #fff;
    height: 48px;
}
.dls-example-source-copy-btn:focus, .dls-example-source-copy-btn:hover, .dls-example-source-toggle:focus, .dls-example-source-toggle:hover {
    text-decoration: none;
    background-color: rgba(51, 51, 51, .02);
    color: #1274b8;
}
.dls-example .toggle-enabled-true {
    display: block;
}
.dls-example .toggle-enabled-false {
    display: none;
}
.dls-example-view-toggle {
    color: #999;
    min-width: 3rem;
    padding: .625rem .625rem .4375rem;
    margin-bottom: .625rem;
    margin-right: -.0625rem;
    text-align: center;
    border: 1px solid #efeff1;
}
.dls-example-mode-buttons .icon-active {
    color: #1274b8 !important;
}
.dls-example-source {
    text-align: right;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    margin-bottom: -1.9375rem;
}
.dls-example-source a {
    border-left: 1px solid #efeff1;
    border-top: 1px solid #efeff1;
}
.dls-example-source-toggle {
    position: relative;
    text-align: right;
    padding-left: 2.5rem;
}
.dls-example-source-toggle:before {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.8em;
}
.dls-example-source-toggle:after {
    display: block;
    content: attr(data-default);
}
.toggled .dls-example-source-toggle:after {
    content: attr(data-active);
}
.toggled .dls-example-source-toggle {
    text-decoration: none;
    color: #1274b8;
    background-color: rgba(51, 51, 51, .02);
}
.dls-example-source-copy-btn {
    -webkit-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
    opacity: 0;
    pointer-events: none;
}
.toggled .dls-example-source-copy-btn {
    pointer-events: auto;
    opacity: 1;
}
.dls-example .mode-desktop {
    height: auto;
    width: auto;
    max-width: none;
}
.dls-example .mode-mobile {
    width: 100%;
    max-width: 400px;
}
.dls-example-output {
    position: relative;
    overflow: hidden;
    padding-bottom: 1.25rem;
}
.dls-example-highlight {
    position: relative;
    overflow: hidden;
    height: 0;
}
.b2b-table1 {
	background-color: #d5e4fb;
	align-items: center;
}
.b2b-table2 {
    display: inline-block;
    align-items: center;
}
.toggled .dls-example-highlight {
    height: auto;
}
.dls-example-highlight pre {
    text-align: left;
    padding: 1.25rem;
}
.example-accent-bar {
    max-width: 400px;
}
.example-accent-bar-info-bottom {
    height: 50px;
}
.example-accent-bar-info-top>div {
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.example-accent-bar-info-bottom>div {
    position: relative;
    display: block;
    text-align: center;
    top: 10px;
}
.example-accent-bar-info-bottom>div>span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    text-align: center;
}
.example-accent-bar-info-bottom .example-accent-bar-extend {
    top: 40px;
}
.example-accent-bar-info-bottom .example-accent-bar-extend:before {
    position: absolute;
    content: '';
    top: -30px;
    left: 50%;
    height: 25px;
    width: 1px;
    background-color: #ccc;
}
.dls-flow-image {
	height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dls-flow-image2 {
	height: 104px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dls-iframe {
    position: relative;
    border: 0;
    background-color: #fff;
    width: 100%;
    height: auto;
}
.dls-iframe-content {
    position: relative;
    padding-right: 15px;
    overflow: hidden;
}
.dls-menu {
    position: relative;
    display: block;
    z-index: 2000;
    min-height: 100vh;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
    transition: -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
    transition: transform .3s cubic-bezier(.65, 0, .45, 1);
    transition: transform .3s cubic-bezier(.65, 0, .45, 1), -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-left: -100%;
}
.dls-menu .menu-container {
    position: fixed;
    top: 6.25rem;
    bottom: 0;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.48, .14, .27, .98);
    transition: -webkit-transform .5s cubic-bezier(.48, .14, .27, .98);
    transition: transform .5s cubic-bezier(.48, .14, .27, .98);
    transition: transform .5s cubic-bezier(.48, .14, .27, .98), -webkit-transform .5s cubic-bezier(.48, .14, .27, .98);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 2px 0 5px transparent;
    background-color: #fff;
    border-right: 1px solid #efeff1;
}
.dls-menu .menu-viewport {
    overflow-y: scroll;
    max-height: 100%;
    margin-right: -100px;
    padding-right: 100px;
    -ms-overflow-style: none;
}
.dls-menu .menu-viewport::-webkit-scrollbar {
    display: none;
}
.dls-menu .menu-viewport::-moz-scrollbar {
    display: none;
}
.dls-menu .menu-nav .nav {
    margin-top: 0;
}
.dls-menu .menu-additional {
    padding-left: 10px;
    padding-right: 10px;
}
.dls-menu .menu-additional > ul {
    margin-left: -10px;
    margin-right: -10px;
}
.dls-menu .menu-footnote {
    font-size: .8125rem;
    max-width: 250px;
    padding: 10px;
}
.dls-menu .nav .nav-group .nav-group {
    padding-left: 8px;
}
.dls-menu .nav .nav-group .nav-group .nav-group {
    padding-left: 15px;
}
.dls-menu .nav>.nav-group>ul>li {
    padding-left: 10px;
}
.dls-menu .nav-group-active.has-sub>ul>li>a:first-child:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: .5rem;
    margin-left: -.1875rem;
}
.dls-menu .nav-group-active>ul>li>a:first-child:after {
    opacity: 1 !important;
}
.dls-menu .nav-group-active .nav-group-active>li.active>a:first-child:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: .5rem;
    margin-left: -.1875rem;
}
.dls-menu .nav-indicator {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    -webkit-transition: height .3s cubic-bezier(.48, .14, .27, .98);
    transition: height .3s cubic-bezier(.48, .14, .27, .98);
}
.dls-menu .nav-search {
    padding: 10px;
}
.dls-menu .nav-search:last-child {
    padding-bottom: 10px;
}
.dls-menu .nav-search .form-group {
    margin-bottom: 0;
}
.navbar {
    position: fixed;
    width: 100%;
    max-height: 2.8125rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    padding: 0 1rem;
    z-index: 2010;
}
.navbar, .navbar>div {
    height: 2.8125rem;
}
.navbar .dropdown-toggle {
    border-radius: 0;
}
.navbar:after {
    content: '';
    display: table;
    clear: both;
}
.navbar .dls-nav-header a {
    color: #fff;
}
.navbar-brand {
    float: left;
    padding-top: .8325rem;
    padding-bottom: .6475rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    font-weight: 500;
}
.navbar-display, .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-nav .nav-item {
    float: left;
}
.navbar-nav .nav-link {
    display: block;
    position: relative;
    padding: .925em 0;
    margin: auto .85em 0;
    height: 2.8125rem;
}
.navbar-nav .nav-link:after {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    -webkit-transition: all .25s cubic-bezier(.65, 0, .45, 1);
    transition: all .25s cubic-bezier(.65, 0, .45, 1);
}
.navbar-nav .nav-link:hover:after {
    background-color: #ccc;
}
.navbar-nav .nav-link.active:after, .navbar-nav .nav-link.active:hover {
    background-color: #1274b8;
}
.navbar-nav .nav-item+.navbar-nav .nav-item, .navbar-nav .nav-link+.navbar-nav .nav-link {
    margin-left: 1rem;
}
.navbar-toggler {
    padding: .925rem .75rem;
    line-height: 1;
    background: 0;
    border: 1px solid transparent;
    color: #fff;
    border-radius: .25rem;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}
.dls-navbar {
    font-size: 87.5%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .025);
    border-bottom: 1px solid #efeff1;
    background-color: #fff;
}
.dls-navbar .navbar-brand, .dls-navbar .navbar-nav .nav-link {
    color: #1274b8;
}
.dls-navbar .navbar-brand.active, .dls-navbar .navbar-brand:focus, .dls-navbar .navbar-brand:hover, .dls-navbar .navbar-nav .nav-link.active, .dls-navbar .navbar-nav .nav-link:focus, .dls-navbar .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: #1274b8;
    background-color: inherit;
}
.dls-navbar .navbar-brand.active, .dls-navbar .navbar-nav .nav-link.active {
    color: #1274b8;
}
.dls-pagination {
    position: relative;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity .25s ease-out, -webkit-transform .25s ease-out;
    transition: opacity .25s ease-out, -webkit-transform .25s ease-out;
    transition: opacity .25s ease-out, transform .25s ease-out;
    transition: opacity .25s ease-out, transform .25s ease-out, -webkit-transform .25s ease-out;
}
.dls-pagination>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.dls-pagination-empty, .dls-pagination a {
    position: relative;
    display: block;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
}
.dls-pagination-empty:focus, .dls-pagination-empty:hover, .dls-pagination a:focus, .dls-pagination a:hover {
    text-decoration: none;
}
.dls-pagination-next span, .dls-pagination-prev span {
    display: inline-block;
    vertical-align: bottom;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
}
.dls-pagination-next span:before, .dls-pagination-prev span:before {
    display: block;
    font-weight: 400;
    font-size: .875rem;
    text-transform: uppercase;
}
.dls-pagination .dls-pagination-arrow {
    position: absolute;
    bottom: 0;
    font-size: .8em;
}
.dls-pagination .dls-pagination-arrow:before {
    position: relative;
    display: inline-block;
    margin-top: 100%}
.dls-pagination-prev span {
    padding-left: 20px;
}
.dls-pagination-prev span:before {
    content: 'Previous'}
.dls-pagination-prev .dls-pagination-arrow {
    bottom: 10px;
    left: 10px;
    padding-right: .625rem;
}
.dls-pagination-prev .dls-pagination-arrow:before {
    margin-bottom: 5px;
    font-size: 1.2em;
}
.dls-pagination-next span {
    padding-right: 20px;
}
.dls-pagination-next span:before {
    content: 'Next'}
.dls-pagination-next .dls-pagination-arrow {
    bottom: 10px;
    right: 10px;
    padding-left: .625rem;
}
.dls-pagination-next .dls-pagination-arrow:before {
    margin-bottom: 5px;
    font-size: 1.2em;
}
.row-active {
    opacity: 1 !important;
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
}
.row-center {
	text-align: center;
	margin: 0 auto;
}
.dls-panel-row {
    position: relative;
    overflow: hidden;
    padding-top: 16px;
}
.dls-panel-row .panel {
    position: relative;
    padding: 1.875rem 1.25rem;
    border: 1px solid #efeff1;
    background-color: #fff;
}
.panel + .panel {
    margin-top: 1.25rem;
}
.dls-panel-row .panel .panel-inner {
    background-color: #F7F8F9;
}
.panel-accent {
    padding: 0.5rem 0.5rem;
    background-color: #009D78;
}
.dls-panel-row .panel .panel-default {
}
.dls-panel-row .panel hr:not([class]) {
    margin: 1.875rem -1.875rem;
}
.dls-panel-row .panel p {
    margin-bottom: .8rem;
}
.dls-panel-row .panel-jumbotron {
    background-color: #CCC;
    padding: 7.5rem 1.875rem;
    max-width: 80%;
    margin: auto;
}
.panel-jumbotron .panel-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.panel-jumbotron .panel-content h1 {
    font-weight: 100;
    color: #fff;
    max-width: 40.625rem;
    font-size: 3.25rem;
    margin: 0;
}
.panel-jumbotron .panel-content h2 {
    font-weight: 100;
    max-width: 40.625rem;
    font-size: 2.25rem;
}
.panel-jumbotron .panel-content h3 {
}
.panel-jumbotron .panel-content h4 {
}
.dls-panel-row .panel-jumbotron .panel-content > div {
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%
}
.dls-panel-row .panel-ver {
    position: relative;
    padding-top: 1.25rem;
}
.dls-panel-row .panel-intro {
    text-align: center;
    font-size: 1.0625rem;
}
.dls-panel-row .panel-intro p {
    max-width: 750px;
    margin: 0 auto;
}
.dls-panel-row .panel .panel-heading, .dls-panel-row .panel .panel-heading-secondary {
    border: 0;
}
.dls-panel-row .panel .panel-heading-secondary {
    background-color: #1274b8;
}
.dls-panel-row .panel .panel-heading-secondary h1 {
    color: #fff;
}
.dls-panel-row .panel-heading-first {
    border: 0 !important;
    background: #1274b8 !important;
}
.dls-panel-row .panel-heading-first h1 {
    color: #fff !important;
}
.dls-panel-row .panel-heading-first div>:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.dls-panel-row .panel-heading-second {
    border: 0 !important;
    background: #f3b01a !important;
	line-height: 3;
}
.dls-panel-row .panel-heading-second h1 {
    color: #fff !important;
}
.dls-panel-row .panel-heading-third {
    border: 0 !important;
    background: #fff !important;
	line-height: 1;
}
.dls-panel-row .panel-heading-third h1 {
    color: #555 !important;
}
.dls-panel-row .panel-heading {
    padding-bottom: 1.875rem;
    border: 0 !important;
}
.dls-panel-row .panel-heading div>:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.panel-content h1 {
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.75rem;
}
.panel-content h1, h2 {
    color: #002663;
    margin-bottom: 1.25rem;
}

.panel-content h2 {
    font-size: 1.25rem;
}
.panel-content h3 {
    letter-spacing: .03125rem;
    color: #555;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8125rem;
    margin-bottom: .9375rem;
}
.img-border {
    border: 1px;
    color: #777
}

@keyframes slider {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: center}
div#slider figure { 
  position: relative;
  width: 100%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 10;
  animation: 30s slider infinite; 
}
.dls-scaler .scaler-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.dls-scaler .scaler-el {
    margin: 0 auto;
}
.dls-scaler .scaler-bar {
    max-width: 400px;
    margin: 0 auto;
}
.dls-search {
    position: relative;
    padding-top: 1.875rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    margin-bottom: -1.875rem;
}
.dls-search .dls-search-info, .dls-search .dls-search-no-results, .dls-search .dls-search-result {
    border-top: 1px solid #efeff1;
    padding: 1.875rem 1.25rem;
}
.dls-search .dls-search-info {
    font-weight: 500;
    background-color: #f7f8f9;
    padding-top: 1.21875rem;
    padding-bottom: 1.21875rem;
}
.dls-search .dls-search-info:empty, .dls-search .dls-search-results:empty {
    display: none;
}
.dls-search .dls-search-result-title {
    font-weight: 500;
    padding-bottom: .625rem;
}
.dls-search .dls-search-result-info p:last-of-type {
    margin-bottom: 0;
}
.dls-search .dls-search-no-results {
    font-style: italic;
}
.dls-swatch {
    margin-bottom: 10px;
}
.dls-swatch .swatch-color {
    position: relative;
    display: block;
    min-height: 120px;
    max-height: 250px;
    height: 14vw;
}
.dls-swatch .swatch-color:hover .swatch-copy-btn {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    text-decoration: none;
}
.dls-swatch .swatch-code {
    opacity: 0;
    height: 0;
}
.dls-swatch .swatch-copy {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.dls-swatch .swatch-copy-btn {
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, .25);
    color: #fff;
    padding: .75rem;
    text-align: center;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}
.dls-swatch .swatch-content {
    padding: 1.125rem !important;
}
.dls-swatch .swatch-content p {
    margin-bottom: 0;
}
body {
    background-color: #f7f8f9;
}
#dls-app {
    -ms-flex-flow: column;
    flex-flow: column;
    overflow: hidden;
}
.wrapper {
    background-color: #f7f8f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 3 0 0;
    -webkit-box-flex: 3;
    flex: 3 0 0;
    overflow-y: auto;
    z-index: 2;
}
.dls-container, .wrapper {
    -webkit-box-flex: 3;
    min-width: 0;
}
.dls-container {
    -ms-flex: 3;
    -webkit-box-flex: 3;
    flex: 3;
    overflow: hidden;
    padding-top: 45px;
    padding-top: 6.25rem;
}
.dls-content {
    padding-bottom: 20px;
}
.dls-breadcrumbs {
    left: 0;
    -webkit-transition: none;
    transition: none;
}
.dls-breadcrumbs .breadcrumbs-container {
    height: 3.4375rem;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .025);
    border-bottom: 1px solid #efeff1;
}
.dls-breadcrumbs a {
    color: #1274b8;
}
.dls-container {
    padding-top: 6.25rem
}

.dls-menu {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.65,0,.45,1);
    transition: -webkit-transform .3s cubic-bezier(.65,0,.45,1);
    transition: transform .3s cubic-bezier(.65,0,.45,1);
    transition: transform .3s cubic-bezier(.65,0,.45,1),-webkit-transform .3s cubic-bezier(.65,0,.45,1);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-left: -100%
}
.dls-menu.toggled .menu-container {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.dls-menu .menu-container {
    background-color: #fff;
    border-right: 1px solid #efeff1;
    top: 6.25rem;
    width: 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,.025)
}
.dls-menu .menu-additional .menu-additional-inner {
    border-top: 1px solid #efeff1;
    border-bottom: 1px solid #efeff1;
}
.dls-menu .dls-nav>li>a {
    font-weight: 400!important
}
.dls-menu li.active:not(.accordion)>.nav-link.caret {
    color: #002663;
}
.dls-menu a {
    padding: 0 0 .5rem .625rem;
    color: #1274b8;
}
.dls-menu a:hover {
    color: #002663;
    text-decoration: none;
}
.dls-menu a .active {
    color: #002663;
}
.dls-menu .key-menu {
    padding-left: .3125rem;
}
.dls-menu .key-menu:before {
    font-size: .8125rem;
    color: #999;
    padding-right: .625rem;
}
.dls-pagination a {
    letter-spacing: .0625rem;
    font-weight: 200;
    font-size: 1.25rem;
}
.dls-pagination-prev {
    border: 1px solid #efeff1;
    background-color: #fff;
    color: #1274b8;
}
.dls-pagination-prev span:before {
    color: #555;
}
.dls-pagination-prev:focus, .dls-pagination-prev:hover {
    background-color: #ededed;
}
.text-process {
	color: #3081bd;
    text-align: center;
}
.text-note {
	color: #002663;
}
.dls-pagination-next {
    color: #fff;
    background-color: #1274b8;
}
.dls-pagination-next:focus, .dls-pagination-next:hover {
    background-color: #3ea8e5;
    color: #fff;
}
.dls-pagination-empty {
    border: 1px solid #efeff1;
    background-color: #fff;
    color: #1274b8;
}
.dls-swatch {
    border: 1px solid #efeff1;
}
.dls-swatch .swatch-color {
    border-bottom: 1px solid #efeff1;
}
.dls-swatch .swatch-content {
    padding: .625rem .5rem;
    font-size: .9375rem;
}
.dls-scaler .scaler-box {
    min-height: 300px;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border: 1px solid #efeff1;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#dls-visual-layout-breakpoints {
    position: relative;
    height: auto;
    max-width: 1200px;
}
#dls-visual-layout-breakpoints>img {
    width: 100%;
    height: auto;
    display: block;
}
#dls-visual-layout-breakpoints .viz-bar {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #002663;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#dls-visual-layout-breakpoints .viz-bar>div {
    position: relative;
    height: 100%;
    padding: 20px;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#dls-visual-layout-breakpoints .viz-bar>div span {
    display: block;
    width: 100%}
#dls-visual-layout-breakpoints .viz-bar>div .viz-flag {
    position: absolute;
    top: -80px;
    left: 0;
}
#dls-visual-layout-breakpoints .viz-bar>div .viz-flag:before {
    position: absolute;
    content: '';
    height: 190px;
    border-left: 1px solid rgba(51, 51, 51, .3);
}
#dls-visual-layout-breakpoints .viz-bar>div .viz-flag span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #008566;
    padding: 10px 8px;
    min-width: 50px;
    text-align: center;
}
#dls-visual-layout-breakpoints .viz-bar>div:first-child .viz-flag span {
    right: auto;
    left: 0;
    color: #333;
    background-color: #ededed;
}
#dls-visual-accessibility {
    font-size: 0;
    padding-top: 20px;
}
#dls-visual-accessibility .row {
    display: inline-block;
    margin: 0 0 30px !important;
}
#dls-visual-accessibility .left {
    width: 55%}
#dls-visual-accessibility .left:after {
    content: 'White Text Accessible'}
#dls-visual-accessibility .left .col {
    color: #fff;
    width: parcentage(18.1818181818);
}
#dls-visual-accessibility .left .half {
    width: 909.090909091%}
#dls-visual-accessibility .left .half:after {
    width: 200%}
#dls-visual-accessibility .right {
    width: 45%}
#dls-visual-accessibility .right:after {
    content: 'Black Text Accesible'}
#dls-visual-accessibility .right .col {
    color: #333;
    width: 2222.22222222%}
#dls-visual-accessibility .right .half {
    width: 1111.11111111%}
#dls-visual-accessibility .right .half:after {
    display: none;
}
#dls-visual-accessibility .col {
    position: relative;
    font-size: 0;
    display: inline-block;
    text-align: center;
    min-height: 70px;
    line-height: 70px;
    font-size: 1.875rem;
}
#dls-visual-accessibility .col:after {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #333;
}
#dls-visual-accessibility hr {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #ef37a4;
    margin: 12px 0 6px;
}
#dls-visual-accessibility hr:before {
    content: '';
    width: 0;
    height: 12px;
    position: absolute;
    left: 0;
    top: -6px;
    border-left: 1px solid #ef37a4;
}
#dls-visual-accessibility hr:after {
    content: '';
    width: 0;
    height: 12px;
    position: absolute;
    right: 0;
    top: -6px;
    border-right: 1px solid #ef37a4;
}
#dls-visual-accessibility p {
    display: inline-block;
    color: #ef37a4 !important;
    width: 100%;
    font-size: 10px;
    text-align: center;
}
#dls-visual-accessibility .left span:nth-child(1) {
    background-color: #002663;
}
#dls-visual-accessibility .left span:nth-child(1):after {
    content: "100"}
#dls-visual-accessibility .left span:nth-child(2) {
    background-color: #193b72;
}
#dls-visual-accessibility .left span:nth-child(2):after {
    content: "90"}
#dls-visual-accessibility .left span:nth-child(3) {
    background-color: #335182;
}
#dls-visual-accessibility .left span:nth-child(3):after {
    content: "80"}
#dls-visual-accessibility .left span:nth-child(4) {
    background-color: #4c6791;
}
#dls-visual-accessibility .left span:nth-child(4):after {
    content: "70"}
#dls-visual-accessibility .left span:nth-child(5) {
    background-color: #667da1;
}
#dls-visual-accessibility .left span:nth-child(5):after {
    content: "60"}
#dls-visual-accessibility .left span:nth-child(6) {
    background-color: #7f92b1;
}
#dls-visual-accessibility .left span:nth-child(6):after {
    content: "50"}
#dls-visual-accessibility .right span:nth-child(1) {
    background-color: #7f92b1;
}
#dls-visual-accessibility .right span:nth-child(1):after {
    content: "50"}
#dls-visual-accessibility .right span:nth-child(2) {
    background-color: #99a8c1;
}
#dls-visual-accessibility .right span:nth-child(2):after {
    content: "40"}
#dls-visual-accessibility .right span:nth-child(3) {
    background-color: #b2bdd0;
}
#dls-visual-accessibility .right span:nth-child(3):after {
    content: "30"}
#dls-visual-accessibility .right span:nth-child(4) {
    background-color: #ccd4e0;
}
#dls-visual-accessibility .right span:nth-child(4):after {
    content: "20"}
#dls-visual-accessibility .right span:nth-child(5) {
    background-color: #e5e9ef;
}
#dls-visual-accessibility .right span:nth-child(5):after {
    content: "10"}
@media(min-width:375px) {
    .dls-breadcrumbs .breadcrumbs-container, .dls-menu .menu-additional {
    padding-left: 16px;
    padding-right: 16px;
    }
    .dls-menu .menu-additional > ul {
        margin-left: -16px;
        margin-right: -16px;
    }
    .dls-menu .menu-footnote {
        padding: 16px;
    }
    .dls-menu .nav .nav-group .nav-group {
        padding-left: 12.8px;
    }
    .dls-menu .nav .nav-group .nav-group .nav-group {
        padding-left: 24px;
    }
    .dls-menu .nav>.nav-group>ul>li {
        padding-left: 16px;
    }
    .dls-menu .nav-search {
        padding: 16px;
    }
    .dls-menu .nav-search:last-child {
        padding-bottom: 16px;
    }
    .dls-pagination-empty, .dls-pagination a {
        margin-top: 16px;
        padding: 16px;
    }
    .dls-pagination-prev span {
        padding-left: 32px;
    }
    .dls-pagination-prev .dls-pagination-arrow {
        bottom: 16px;
        left: 16px;
    }
    .dls-pagination-next span {
        padding-right: 32px;
    }
    .dls-pagination-next .dls-pagination-arrow {
        bottom: 16px;
        right: 16px;
    }
    .dls-swatch {
        margin-bottom: 16px;
    }
    .dls-menu {
        -webkit-transition: -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
        transition: -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
        transition: transform .3s cubic-bezier(.65, 0, .45, 1);
        transition: transform .3s cubic-bezier(.65, 0, .45, 1), -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
        flex: 0 0 350px;
        margin-left: -350px;
    }
    .dls-menu.toggled .menu-container {
        -webkit-transform: translateX(350px);
        transform: translateX(350px);
    }
    .dls-menu .menu-container {
        top: 6.25rem;
        width: 350px;
        box-shadow: 2px 0 5px transparent
    }
}
@media(min-width:768px) {
    .dls-breadcrumbs .breadcrumbs-container {
    padding-left: 18px;
    padding-right: 18px;
    }
    .dls-example+:not(.dls-example) {
        margin-top: 3.375rem;
    }
    .dls-example+.dls-example {
        margin-top: 1.875rem;
    }
    .panel .dls-example {
        margin-left: -1.875rem;
        margin-right: -1.875rem;
    }
    .dls-example {
        padding: 1.875rem;
        padding-bottom: 0;
    }
    .dls-example:not(.dls-example-bordered) {
        padding-top: 0;
    }
    .dls-example-source {
        margin-left: -1.875rem;
        margin-right: -1.875rem;
        margin-bottom: -1.9375rem;
    }
    .dls-example-output {
        padding-bottom: 1.875rem;
    }
    .dls-example-highlight pre {
        padding: 1.875rem;
    }
    .dls-menu .menu-additional {
        padding-left: 18px;
        padding-right: 18px;
    }
    .dls-menu .menu-additional > ul {
        margin-left: -18px;
        margin-right: -18px;
    }
    .dls-menu .menu-footnote {
        padding: 18px;
    }
    .dls-menu .nav .nav-group .nav-group {
        padding-left: 14.4px;
    }
    .dls-menu .nav .nav-group .nav-group .nav-group {
        padding-left: 27px;
    }
    .dls-menu .nav>.nav-group>ul>li {
        padding-left: 18px;
    }
    .dls-menu .nav-search {
        padding: 18px;
    }
    .dls-menu .nav-search:last-child {
        padding-bottom: 18px;
    }
    .dls-pagination-empty, .dls-pagination a {
        margin-top: 18px;
        padding: 18px;
    }
    .dls-pagination-prev span {
        padding-left: 36px;
    }
    .dls-pagination-prev .dls-pagination-arrow {
        bottom: 18px;
        left: 18px;
    }
    .dls-pagination-next span {
        padding-right: 36px;
    }
    .dls-pagination-next .dls-pagination-arrow {
        bottom: 18px;
        right: 18px;
    }
    .dls-search {
        padding-top: 1.875rem;
        margin-left: -1.875rem;
        margin-right: -1.875rem;
        margin-bottom: -1.875rem;
    }
    .dls-search .dls-search-info, .dls-search .dls-search-no-results, .dls-search .dls-search-result {
        padding: 1.875rem;
    }
    .dls-search .dls-search-info {
        padding-top: 1.21875rem;
        padding-bottom: 1.21875rem;
    }
    .dls-swatch {
        margin-bottom: 18px;
    }
    .dls-pagination a {
        font-size: 1.875rem;
    }
}
@media(min-width:1024px) {
    .dls-breadcrumbs .breadcrumbs-container, .dls-menu .menu-additional {
    padding-left: 20px;
    padding-right: 20px;
    }
    .dls-menu .menu-additional > ul {
        margin-left: -20px;
        margin-right: -20px;
    }
    .dls-menu .menu-footnote {
        padding: 20px;
    }
    .dls-menu .nav .nav-group .nav-group {
        padding-left: 16px;
    }
    .dls-menu .nav .nav-group .nav-group .nav-group {
        padding-left: 30px;
    }
    .dls-menu .nav>.nav-group>ul>li {
        padding-left: 20px;
    }
    .dls-menu .nav-search {
        padding: 20px;
    }
    .dls-menu .nav-search:last-child {
        padding-bottom: 20px;
    }
    .dls-pagination-empty, .dls-pagination a {
        margin-top: 20px;
        padding: 20px;
    }
    .dls-pagination-prev span {
        padding-left: 40px;
    }
    .dls-pagination-prev .dls-pagination-arrow {
        bottom: 20px;
        left: 20px;
    }
    .dls-pagination-next span {
        padding-right: 40px;
    }
    .dls-pagination-next .dls-pagination-arrow {
        bottom: 20px;
        right: 20px;
    }
    .dls-swatch {
        margin-bottom: 20px;
    }
    .dls-breadcrumbs {
        -webkit-transition: -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
        transition: -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
        transition: transform .3s cubic-bezier(.65, 0, .45, 1);
        transition: transform .3s cubic-bezier(.65, 0, .45, 1), -webkit-transform .3s cubic-bezier(.65, 0, .45, 1);
    }
    .dls-menu {
        -webkit-transition: margin .3s cubic-bezier(.65, 0, .45, 1);
        transition: margin .3s cubic-bezier(.65, 0, .45, 1);
        -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
        flex: 0 0 250px;
        margin-left: -250px;
    }
    .dls-menu.toggled {
        margin-left: 0;
    }
    .dls-menu.toggled, .dls-menu.toggled .menu-container {
        -webkit-transform: none;
        transform: none;
    }
    .dls-menu .menu-container {
        top: 6.25rem;
        width: 250px
    }
}
@media(min-width:1200px) {
    .dls-breadcrumbs {
    -webkit-transition: none;
    transition: none;
    left: 320px;
    display: none;
    }
    .dls-menu {
        margin-left: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
        flex: 0 0 320px;
    }
    .dls-menu .menu-container {
        top: 2.8125rem;
        width: 320px;
    }
}
@media(max-width:768px) {
    #dls-visual-layout-breakpoints .viz-bar>div {
    padding: 5px;
    text-align: center;
    }
    #dls-visual-accessibility .row {
        width: 100% !important;
    }
    #dls-visual-accessibility .left .col {
        width: 1666.66666667% !important;
    }
    #dls-visual-accessibility .right .col {
        width: 2000% !important;
    }
}
@media(max-width:660px) {
    #dls-visual-accessibility .left .half: after {
    width: 100%}
    #dls-visual-accessibility .right .half:after {
        display: block;
    }
}
@media(max-width:375px) {
    #dls-visual-layout-breakpoints .viz-bar>div {
    font-size: .6875rem;
    }
    #dls-visual-layout-breakpoints .viz-bar>div .viz-flag span {
        padding: 5px 4px;
        min-width: 30px;
    }
}
.accent-green-border-left-01 {
    border-left: 2px solid #009D78;
}
.accent-green-border-right-01 {
    border-right: 2px solid #009D78;
}
.accent-green-border-top-01 {
    border-top: 2px solid #009D78;
}
.accent-green-border-bottom-01 {
    border-bottom: 2px solid #009D78;
}
.table-specification-nested {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0.625rem;
    width: 100%;
    background-color: #fff;
}
.table-specification-nested th {
    padding: 0.625rem;
    font-weight: bold;
}
.table-specification-nested td {
    padding: 0.625rem;
}
.table-specification-nested > tbody > tr:nth-child(odd) > td {
    background-color: #CCCCCC;
}
.table-specification-nested > tbody > tr:nth-child(even) > td:first-child {
    background: linear-gradient(to bottom, #ccc, #F7F8F9 99%, #fff);
    vertical-align: top;
    width: 6px;
    padding: 0;
}
.table-specification-nested > tbody > tr:nth-child(odd) > td[nested] {
    background-color: #fff;
}
.nowrap {
    white-space: nowrap;
}

.table-specification-description {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0.2rem;
    background-color: #fff;
    max-width: max-content;
    white-space: pre-wrap;
}
.table-specification-description th {
    padding: 0.2rem;
    font-weight: bold;
}
.table-specification-description td {
    padding: 0.2rem;
}

.table-specification-description td:first-child
{
    font-family: monospace, monospace;
}

.dls-container .icon:before {
	color: #fff;
}

.dls-container .icon2:before {
	color: #1274b8;
}

.badge_lable {   
  display: inline-block;   
  vertical-align: middle;   
}   
.badge ~ .badge_lable::first-letter {   
  margin-left: 0.4rem;   
}   
.badge-group > div {   
  padding-top: 4px;   
  padding-bottom: 4px;   
}   

.dls-accent-lime-01 {   
  color: #b3d88c;   
}   

.dls-accent-lime-01-bg {   
  background-color: #b3d88c;   
}   

.dls-accent-orange-01 {   
  color: #ce8e00;
}   

.dls-accent-orange-01-bg {   
  background-color: #ce8e00;
}  
 
.dls-accent-green-02 {   
  color: #a5d867;
}   

.dls-accent-green-02-bg {   
  background-color: #a5d867;
}   

.dls-accent-seagreen-01 {   
  color: #35c4b5;   
}  

.dls-accent-seagreen-01-bg {   
  background-color: #35c4b5;   
}  

.dls-accent-teal-01 {   
  color: #009566;   
}  

.dls-accent-teal-01-bg {   
  background-color: #009566;   
}  
 
.dls-accent-gold-01 {   
  color: #f2af00;   
}  

.dls-accent-gold-01-bg {   
  background-color: #f2af00;   
}  
 
.vertical-group {   
  vertical-align: middle;   
} 

.padding-bottom {
    padding-bottom: 20px;
}

.dls-icon-activity-filled:before,
.dls-icon-account-filled:before,
.dls-icon-account:before,
.dls-icon-activity:before,
.dls-icon-airplane-filled:before,
.dls-icon-airplane:before,
.dls-icon-alert-filled:before,
.dls-icon-alert:before,
.dls-icon-bank-filled:before,
.dls-icon-bank:before,
.dls-icon-billing-filled:before,
.dls-icon-billing:before,
.dls-icon-business-filled:before,
.dls-icon-business:before,
.dls-icon-businessservices-filled:before,
.dls-icon-businessservices:before,
.dls-icon-calendar-filled:before,
.dls-icon-calendar:before,
.dls-icon-cancelcircle-filled:before,
.dls-icon-cancelcircle:before,
.dls-icon-card-filled:before,
.dls-icon-card:before,
.dls-icon-cardbenefit-filled:before,
.dls-icon-cardbenefit:before,
.dls-icon-cards-filled:before,
.dls-icon-cards:before,
.dls-icon-change-filled:before,
.dls-icon-change:before,
.dls-icon-chat-filled:before,
.dls-icon-chat:before,
.dls-icon-check-filled:before,
.dls-icon-check:before,
.dls-icon-close-filled:before,
.dls-icon-close:before,
.search[data-state="active"] .search-state:before,
.dls-icon-concierge-filled:before,
.dls-icon-concierge:before,
.dls-icon-dataprotection-filled:before,
.dls-icon-dataprotection:before,
.dls-icon-declined-filled:before,
.dls-icon-declined:before,
.dls-icon-desktop-filled:before,
.dls-icon-desktop:before,
.dls-icon-dining-filled:before,
.dls-icon-dining:before,
.dls-icon-document-filled:before,
.dls-icon-document:before,
.dls-icon-down-filled:before,
.dls-icon-down:before,
.dls-icon-download-filled:before,
.dls-icon-download:before,
.dls-icon-edit-filled:before,
.dls-icon-edit:before,
.dls-icon-email-filled:before,
.dls-icon-email:before,
.dls-icon-entertainment-filled:before,
.dls-icon-entertainment:before,
.dls-icon-dollar-filled:before,
.dls-icon-dollar:before,
.dls-icon-feedback-filled:before,
.dls-icon-feedback:before,
.dls-icon-fraudprotection-filled:before,
.dls-icon-fraudprotection:before,
.dls-icon-grocery-filled:before,
.dls-icon-grocery:before,
.dls-icon-help-filled:before,
.dls-icon-help:before,
.dls-icon-home-filled:before,
.dls-icon-home:before,
.dls-icon-hotel-filled:before,
.dls-icon-hotel:before,
.dls-icon-info-filled:before,
.dls-icon-info:before,
.dls-icon-insurance-filled:before,
.dls-icon-insurance:before,
.dls-icon-laptop-filled:before,
.dls-icon-laptop:before,
.dls-icon-left-filled:before,
.dls-icon-left:before,
.dls-icon-location-filled:before,
.dls-icon-location:before,
.dls-icon-lock-filled:before,
.dls-icon-lock:before,
.dls-icon-lounge-filled:before,
.dls-icon-lounge:before,
.dls-icon-merchandise-filled:before,
.dls-icon-merchandise:before,
.dls-icon-minus-filled:before,
.dls-icon-minus:before,
.dls-icon-minuscircle-filled:before,
.dls-icon-minuscircle:before,
.dls-icon-mobile-filled:before,
.dls-icon-mobile:before,
.dls-icon-neutral-filled:before,
.dls-icon-neutral:before,
.dls-icon-offersdesktop-filled:before,
.dls-icon-offersdesktop:before,
.dls-icon-offersmobile:before,
.dls-icon-offersmobile-filled:before,
.dls-icon-other-filled:before,
.dls-icon-other:before,
.dls-icon-oversizebag-filled:before,
.dls-icon-oversizebag:before,
.dls-icon-paperless-filled:before,
.dls-icon-paperless:before,
.dls-icon-paymentdue-filled:before,
.dls-icon-paymentdue:before,
.dls-icon-pdf-filled:before,
.dls-icon-pdf:before,
.dls-icon-pet-filled:before,
.dls-icon-pet:before,
.dls-icon-plus-filled:before,
.dls-icon-plus:before,
.dls-icon-pluscircle-filled:before,
.dls-icon-pluscircle:before,
.dls-icon-point10k-filled:before,
.dls-icon-point10k:before,
.dls-icon-point20k-filled:before,
.dls-icon-point20k:before,
.dls-icon-point2x-filled:before,
.dls-icon-point2x:before,
.dls-icon-point3x-filled:before,
.dls-icon-point3x:before,
.dls-icon-point5x-filled:before,
.dls-icon-point5x:before,
.dls-icon-point8x-filled:before,
.dls-icon-point8x:before,
.dls-icon-print-filled:before,
.dls-icon-print:before,
.dls-icon-processing-filled:before,
.dls-icon-processing:before,
.dls-icon-receipt-filled:before,
.dls-icon-receipt:before,
.dls-icon-refreshment-filled:before,
.dls-icon-refreshment:before,
.dls-icon-rewards-filled:before,
.dls-icon-rewards:before,
.dls-icon-right-filled:before,
.dls-icon-right:before,
.dls-icon-search-filled:before,
.search-state:before,
.dls-icon-search:before,
.dls-icon-setting-filled:before,
.dls-icon-setting:before,
.dls-icon-source-filled:before,
.dls-icon-source:before,
.dls-icon-statementpaid-filled:before,
.dls-icon-statementpaid:before,
.dls-icon-success-filled:before,
.dls-icon-success:before,
.dls-icon-tag-filled:before,
.dls-icon-tag:before,
.dls-icon-taxi-filled:before,
.dls-icon-taxi:before,
.dls-icon-train-filled:before,
.dls-icon-train:before,
.dls-icon-travelbag-filled:before,
.dls-icon-travelbag:before,
.dls-icon-trends-filled:before,
.dls-icon-trends:before,
.dls-icon-unlock-filled:before,
.dls-icon-unlock:before,
.dls-icon-up-filled:before,
.dls-icon-up:before,
.dls-icon-upload-filled:before,
.dls-icon-upload:before,
.dls-icon-warning-filled:before,
.dls-icon-warning:before,
.dls-icon-facebook-filled:before,
.dls-icon-facebook:before,
.dls-icon-linkedin-filled:before,
.dls-icon-linkedin:before,
.dls-icon-twitter-filled:before,
.dls-icon-twitter:before {
	position: relative;
	display: inline-block;
	font-style: normal;
	font-size: 2em;
	margin-bottom: -.1em;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.dls-glyph-question-mark:before,
.dls-glyph-asterisk:before,
.dls-glyph-cancel:before,
.dls-glyph-check:before,
.dls-glyph-close:before,
.dls-glyph-down:before,
.dls-glyph-downtriangle:before,
.dls-glyph-equal:before,
.dls-glyph-favorite:before,
.dls-glyph-info:before,
.dls-glyph-left:before,
.dls-glyph-minus:before,
.dls-glyph-minuscircle:before,
.dls-glyph-nav:before,
.dls-glyph-plus:before,
.dls-glyph-pluscircle:before,
.dls-glyph-right:before,
.dls-glyph-up:before,
.dls-glyph-uptriangle:before {
	position: relative;
	display: inline-block;
	font-style: normal;
	font-size: 1em;
	margin-bottom: -.1em;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

strong {
    font-weight: bold;
}

.strong {
    font-weight: bold;
}

b {
    font-weight: bold;
}

.b {
    font-weight: bold;
}

.api-spec-tryit > .form-group pre,
.api-spec-tryit > .form-group span,
.api-spec-tryit > .form-group span.badge,
.api-spec-tryit > .form-group > select.form-control {
    background-color: transparent;
    color: #f2af00;
    border-color: #333;
}

.api-spec-tryit > .form-group span.badge {
    border: 1px solid #333;
}

.api-spec-tryit > .form-group > select.form-control option {
    background-color: #555;
    color: #f2af00;
}

.api-spec-tryit > .form-group label {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #ccc;
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 1.375rem;
}

pre {
    padding: 4px 5px;
    border-radius: 4px;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: pre;
}

.pre-scrollable::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 
.pre-scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 3px;
}
 
.pre-scrollable::-webkit-scrollbar-corner {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); 
}
 
.pre-scrollable::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(242,175,0,0.7); 
}

code {
  padding: 2px 5px;
  color: #F7F8F9;
  white-space: pre-wrap;
  background-color: #009D78;
  border-radius: 4px;
}

samp {
	color: #009D78;
    /*padding: 2px 3px;  cannot pad this, it is used in many other places */
    font-family: monospace, monospace;
}

.api-spec-testData pre {
    border: 1px solid #f2af00;
    margin-bottom: 0.7rem;
}

.api-spec-testData .samp {
    border: 1px solid #f2af00;
    margin-bottom: 0.7rem;
    white-space: pre-wrap;
	color: #009D78;
    overflow-wrap: break-word;
    padding: 4px 5px;
    border-radius: 4px;
    font-family: monospace, monospace;
    font-size: 1em;
}

.e-apply-example-banner {
    border-style: solid;
    border-color: #555;
    border-width: 1px;
    padding: 0.2rem;
    background-color: #fff;
    max-width: max-content;
    text-align: center;
    white-space: pre-wrap;
}

.e-apply-example-banner td {
    border-style: solid;
    border-color: #555;
    border-width: 1px;
    vertical-align: bottom;
}

.deprecated {
    background-color: #B42C01;
    color: #333;
}

.nav-item.accordion .accordion-content .nav-link {
    margin-left: -0.25rem;
}

.tooltip {
    visibility: hidden !important;
}