<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;">

        <h1>Edit Platform Information</h1>
        <div class="divContent admin-form-div" >
            <label>Select Platform</label>
             <select name ="Platform" formControlName="platformName" id="platformName" class="form-control" [(ngModel)]="selectedPlatform"  (change)="onChange(selectedPlatform)"><!--#selectedPlatform (ngModelChange)="onChange(selectedPlatform.value)-->
 		         <option [value]="0" [selected]=true >Select to begin</option>
                 <option *ngFor="let s of platformList"  [value]="s.organizationId" >{{s.orgName}}</option>
		    </select>
		    <!--<input type="text" formControlName="platformName" name="platformName" class="form-control" placeholder="Platform Name*"  maxlength="100" title="Platform Name"/>-->
        </div>
		<div class="divContent admin-form-div" >
            <label>Platform Name</label>
             <span [ngClass]="{'has-warning': !(myForm.controls['orgName'].valid || (myForm.controls.orgName.pristine && myForm.controls.orgName.untouched ))}"> 
		    <input type="text" maxlength="100" formControlName="orgName" name="productName" class="form-control" (focus)="removeUpdateMsg()" placeholder="Platform Name*"  maxlength="100" title="Platform Name"/>
             </span>
        </div>
        <small class="error" [hidden]="myForm.controls.orgName.valid || (myForm.controls.orgName.pristine && myForm.controls.orgName.untouched )">
         Organization must have alphanumeric characters only, space and hyphen allowed .
        </small>
		
		<div class="divContent admin-form-div" >
            <label>Phone Number</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['phoneNumber'].valid || (myForm.controls.phoneNumber.pristine  && myForm.controls.phoneNumber.untouched))}"> 
	        <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="24" (focus)="removeUpdateMsg()" formControlName="phoneNumber" name="editPhoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number*" maxlength="24"    title="Phone Number"/>
            </span>
        </div>
         <small class="error" [hidden]="myForm.controls.phoneNumber.valid || (myForm.controls.phoneNumber.pristine && myForm.controls.phoneNumber.untouched  )">
         Phone Number  is required .
        </small>   
		
		<div class="divContent admin-form-div">
            <label>Address Line 1</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['addressLine1'].valid || (myForm.controls.addressLine1.pristine && myForm.controls.addressLine1.untouched   ))}"> 
		    <input type="text" maxlength="40" formControlName="addressLine1" name="editAddressLine1" (focus)="removeUpdateMsg()" class="form-control" placeholder="Address Line 1*"     maxlength="40" title="Address Line 1"/>
            </span>
        </div>
		<small class="error" [hidden]="myForm.controls.addressLine1.valid || (myForm.controls.addressLine1.pristine && myForm.controls.addressLine1.untouched     )">
         Address must have alphanumeric characters only, space and hyphen allowed .
        </small>
		<div class="divContent admin-form-div">
            <label>Address Line 2</label>
		    <input type="text" maxlength="40" formControlName="addressLine2" name="editAddressLine2" (focus)="removeUpdateMsg()" id="addressLine2" class="form-control" placeholder="Address Line 2"    maxlength="40" title="Address Line 2"/>
        </div>
       	<div class="divContent admin-form-div" >
            <label>Country</label>
            <!--<select name ="editCountry" formControlName="country" id="country" class="form-control" [(ngModel)]="selectedCountry">
 		        <option *ngFor="let c of country"  [ngValue]="c" [value]="c.code">{{c.name}}</option>
		    </select>-->
            <select name="country" id="country" formControlName="country" [(ngModel)]="selectCountry" class="form-control" (change)="getStatesList(selectCountry)">
                <option *ngFor="let item of country" [ngValue]="item.countryCode" >{{item.country}}</option> <!-- [disabled]="item.countryCode==0" -->
            </select>

       	</div>
        <div class="divContent admin-form-div" >
            <label>State</label>
            <!--<select name ="editStates" formControlName="states" id="states" class="form-control" [(ngModel)]="selectedStates">
 		        <option *ngFor="let s of states"  [ngValue]="s" [value]="s.code">{{s.name}}</option>
		    </select>-->
            <select name="states" id="states" formControlName="states" [(ngModel)]="selectStates" class="form-control" >
                <option *ngFor="let item of states" [ngValue]="item.regionCode" >{{item.state}}</option> <!-- [disabled]="item.regionCode==0" -->
            </select>

       	</div>

  	   <!--<div class="divContent" formGroupName="state">
            <label>State:</label>      
  	   </div>-->
         
		<div class="divContent admin-form-div">
            <label>City</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['city'].valid || (myForm.controls.city.pristine && myForm.controls.city.untouched ))}"> 
		    <input type="text" maxlength="35" formControlName="city" name="city" id="city" class="form-control" (focus)="removeUpdateMsg()" placeholder="City*" maxlength="35" title="City"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.city.valid || (myForm.controls.city.pristine && myForm.controls.city.untouched )">
         City is required .
        </small>
	
	<div class="divContent admin-form-div">
        <label>Zip</label>
        <span [ngClass]="{'has-warning': !(myForm.controls['zip'].valid || (myForm.controls.zip.pristine  && myForm.controls.zip.untouched))}"> 
		<input type="text" maxlength="15" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="zip" (focus)="removeUpdateMsg()" name="zip" id="zip" class="form-control" placeholder="Zip*"  maxlength="15" title="Zip"/><!--onkeypress="return isNumber(event)"-->
        </span>
    </div>
    <small class="error" [hidden]="myForm.controls.zip.valid || (myForm.controls.zip.pristine && myForm.controls.zip.untouched)">
         Please enter a valid 5 digit zip code .
    </small>
 </div>  
 <div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 35px">Platform successfully updated.</div>  
 <!--<span [class]="successMsg == true ? successPopupMsg : failure" *ngIf ="showMessage">{{submitMessage}}</span>  -->
 <div class="divContent admin-form-div" align="center" >   
     <button type="submit" class="btn btn-default" id ="addOrgBtn" [disabled]="!myForm.valid">Click to Edit Platform</button>
 </div>  
 
     <br><br><br>
</form>

		<!-- Code for State List Dropdown starts ***** -->
 		
 		<!--<div class="divContent" >
             <label>Country</label>
 		
 		<select name ="editCountry" id="country" class="selectCountry">
 		<option value="US">UNITED STATES</option>
		</select>
		</div><br><br>
	

    <div class="divContent" >
        <label>State</label>
        <select name ="editState" id="state" class="selectState">	
        </select>
	    
    </div><br><br>
    
    -->