<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />    
    <meta http-equiv="content-language" content="en" charset="UTF-8"/>
    <meta name="google-site-verification" content="ZI3gOgT9fL0UCpTQjPhVw3uLQqoJ9gqTPxLWAvoBvtM" />
    <meta name="description" content="" /> <!-- PAGE DESCRIPTION-->
    <title >Amex for Developer | </title> <!--Add title -- >

    <!-- SSO -->
    <!-- <script type="text/javascript" src='<sso.domain>/SSOECLIENTS/resources/script/jquery-1.6.1.min.js'></script> -->
    <!--<script type="text/javascript" src='<sso.domain>/SSOECLIENTS/support/sso_maintenance_en_US.js'></script> -->
    <!--<script type="text/javascript" src='<sso.domain>/SSOECLIENTS/logon/sso_en_US.js'></script>    -->
	<!-- Temp Jquery-->
	<!--<script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
	<script src="../assets/axp-dev-portal/js/shred.bundle.js" ></script>
	<script src='../assets/axp-dev-portal/js/jquery-1.8.0.min.js'></script>
	<script src='../assets/axp-dev-portal/js/jquery.wiggle.min.js'></script>
	<script src='../assets/axp-dev-portal/js/jquery.slideto.min.js'></script>
	<script src='../assets/axp-dev-portal/js/jquery.ba-bbq.min.js'></script>
	<script src='../assets/axp-dev-portal/js/handlebars-2.0.0.js'></script>
	<script src='../assets/axp-dev-portal/js/underscore-min.js'></script>
	<script src='../assets/axp-dev-portal/js/backbone-min.js'></script>
	<script src='../assets/axp-dev-portal/js/swagger-client.js'></script>
	<script src='../assets/axp-dev-portal/js/swagger-ui.js'></script>
	<script src='../assets/axp-dev-portal/js/highlight.7.3.pack.js'></script>
	<script src='../assets/axp-dev-portal/js/marked.js'></script>
    <!-- Recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit" async defer></script>


	<script src="../assets/axp-dev-portal/js/jspdf.min.js"></script>
    <script src="../assets/axp-dev-portal/js/jspdf.plugin.autotable.js"></script>

	<!-- DLS CSS Styel sheet-->
    <!--<link rel="stylesheet" type="text/css" href="assets/axp-dls/styles/dls.min.css" />-->
	<link rel="stylesheet" type="text/css" href="../assets/axp-dev-portals/css/typography.css" />
	<link rel="stylesheet" type="text/css" href="../assets/axp-dev-portal/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../assets/axp-dev-portal/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="../assets/axp-dls/styles/dls.css" /> 
	<link rel="stylesheet" type="text/css" href="../assets/axp-dev-portal/css/validation.css" />
    <link rel="stylesheet" type="text/css" href="../assets/axp-dls/styles/dls-docs.css" />
	<script src="/assets/axp-dev-portal/ckeditor/ckeditor.js" type="text/javascript"></script>

    <!-- Favicon for the site -->
	 <link rel="shortcut icon" href="amexLogo.png" type="image/png"/> 
	
    <!-- compiled CSS 
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>
    -->
    <!-- compiled JavaScript 
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    -->
    <script type="text/javascript">
        if (top.frames.length != 0) {
            if (window.location.href.replace)
                top.location.replace(self.location.href);
            else
                top.location.href = self.document.href;
        }
    </script> 
	
    <!-- Portal Common CSS and JS -->
    <link href='../assets/axp-dev-portal/css/home.css' rel="stylesheet" type='text/css'>
    <!--<script src='../assets/axp-dev-portal/js/constellation.js'></script>
    <script src='../assets/axp-dev-portal/js/waypoints.js'></script>
    <script src='../assets/axp-dev-portal/js/steller.js'></script>
    <script src='../assets/axp-dev-portal/js/swiper.js'></script>
    <script src='../assets/axp-dev-portal/js/main.js'></script>-->
    
	<style type="text/css" media="print">
	   .no-print { display: none; }
	   #main{margin-top: 30px;}
	</style>
	<base href="/" >
</head>
<body class="devportal-main-body">
	<div id="dls-app">
		<amex-app>Loading...</amex-app>
	</div>

	<!-- DLS JS file -->
	<script type="text/javascript" src="../assets/axp-dls/scripts/dls-min.js"></script>
	<!--<script type="text/javascript" src="assets/axp-dls/scripts/dls-docs.js"></script>-->
</body>
    
<script type="text/javascript">
 /* 
  jQuery(window).on('load resize scroll', function() {
    var delta = 500;
    if(jQuery('#scrollContent') != null){

        if(document.getElementById('ulNav') != null && document.getElementById('maincon') != null && document.getElementById('main') != null)
        {
         var ul = document.getElementById('ulNav').getBoundingClientRect();
         var maincontent = document.getElementById('maincon').getBoundingClientRect();
         var main = document.getElementById('main').getBoundingClientRect();
         if(main.top+70<=0 && ul.bottom<maincontent.bottom)
         {
            jQuery("#ulNav").css({ top: '0px' });
        }
        else
        {
            jQuery("#ulNav").css({ top:  main.top+   70});
        }
    }
    jQuery('#scrollContent > div').each(function(i) {
        var rect = this.getBoundingClientRect();
        var parent = jQuery(this)[0];
        if(rect.top >= 0  && rect.top < window.innerHeight - delta)
        {
            jQuery('#productScrollSpy > ul > li').each(function(i) {
                if(jQuery(this).find('a')[0].href.indexOf(parent.id) >=0 ){
                    jQuery(this).find('a').addClass('focus');
                }
                else
                {
                    jQuery(this).find('a').removeClass('focus');
                    (jQuery(this).find('a')[0]).blur();
                }
            });
            return;
        }
    });
}


jQuery(document).ready(function(){
	jQuery('.menu-btn' ).off('click').on("click",function (e){
	     jQuery('.responsive-menu').toggleClass('expand');
	   
			if(!jQuery('.header').is('.active')) {
				jQuery('.header').addClass('active');
			}
			else {
				jQuery('.header').removeClass('active');
			}
			
	     jQuery(document).off('click').on("click",function (e){
   		      var container = jQuery(".menu-btn");
   			  var respMenu = jQuery('.responsive-menu');
   		      if(container.is(':visible')){
   			       if (!container.is(e.target) && container.has(e.target).length === 0
   					      && !respMenu.is(e.target) && respMenu.has(e.target).length === 0) 
   			      {
   			    	jQuery('.responsive-menu').toggleClass('expand');
   			    	jQuery('.header').removeClass('active');
   			      }
   		  	 }
   		  });
	 });
	 
	jQuery('.btn-dls-burger').off('click').on("click",function(e){
	    jQuery('.menu').removeAttr("aria-hidden");
	    jQuery('.menu').toggleClass('toggled');
	    jQuery('.dls-breadcrumbs').toggleClass('toggled');
    	    jQuery('.menu.toggled .nav a.nav-link').off('click').on("click",function(e){
         			var str = '';
         			str += '<li>' + jQuery(this).text() + '</li>';			
         			jQuery(".breadcrumb").empty().append(str);
         	  });

    	    jQuery(document).off('click').on("click",function (e)
	    	{		  
    	    	  var container = jQuery(".menu.toggled");
    		      var search = jQuery(".menu.toggled .nav-search");
    			  var burgerBtn = jQuery('.btn-dls-burger');
    		      if(container.is(':visible')){
    			      if (!burgerBtn.is(e.target) && burgerBtn.has(e.target).length === 0
    	    			      && !search.is(e.target) && search.has(e.target).length === 0) 
    			      {
    			          container.attr("aria-hidden","true");
    			          jQuery('.menu').toggleClass('toggled');
    			          jQuery('.dls-breadcrumbs').toggleClass('toggled');
    			      }
    		  	 }
	    	});
    });

});

});

  function initLeftNav(){
	  var elem = null;

	  if(jQuery(".apps-dashboard-nav .nav-link").length === 0){
		  	var target = location.hash;
		    var length = target.split('#').length;
	   		var hashVal = (target).split('#')[length-1];
		  if (hashVal === "" || hashVal.charAt(0) === "/"){ 
			 if(jQuery('.nav-item.accordion').length !== 0){
				 jQuery(".menu-nav .nav .accordion-content .nav-link:first").parent().addClass("active");
			 }else{
				jQuery(".menu-nav .nav .nav-link:first").parent().addClass("active");
			 }
	  	  }
	  }
	  
	    
	  jQuery(".menu-nav .nav .nav-link").off('click').on("click",function(e){
		   	var target = this.hash;
		   	var length = target.split('#').length;
		   	var hashVal = (target).split('#')[length-1];
		   	elem =  jQuery(this);
			jQuery('li.active').removeClass('active');
			jQuery(this).parent('li').addClass('active');
	 });
	
	  jQuery(window).on('hashchange', function (e) {
			var target = location.hash;
			var length = target.split('#').length;
		   	var hashVal = (target).split('#')[length-1];
		    if (hashVal !== null && hashVal !== undefined && hashVal !== "" && 
				    hashVal.charAt(0) != "/" && hashVal.charAt(0) != "#"){//Filtering invalid hashes
	          window.scrollTo(window.scrollX, jQuery('#'+hashVal).offset().top - 105);	
	    	}
		    jQuery('.menu-nav .nav .nav-link').each(function (e) {
		        var currLink = jQuery(this);
		        if(currLink.attr("href") !== null && currLink.attr("href") !== undefined){
		        	var length = (currLink.attr("href")).split('#').length;
			        var hashVal1 = (currLink.attr("href")).split('#')[length-1];
			        if(hashVal1 !== null && hashVal1 !== undefined && hashVal === hashVal1){
		        	  elem = currLink;
					}
		        }
		    });
		}).trigger('hashchange');
		
	  jQuery(window).on("scroll",function(e){
        	onScroll();
	  });
	  
	  function onScroll(){
		    var scrollPos = jQuery(window).scrollTop() + 120;
		    if(elem !== null && elem !== undefined){
		    	 jQuery('.nav li').removeClass("active");
		         elem.parent().addClass("active");
		         elem = null;
			}else{
			    jQuery('.menu-nav .nav .nav-link').each(function (e) {
			        var currLink = jQuery(this);
			        if(currLink.attr("href") !== null && currLink.attr("href") !== undefined){
			        	var length = (currLink.attr("href")).split('#').length;
				        var hashVal = (currLink.attr("href")).split('#')[length-1];
				        if(hashVal !== null && hashVal !== undefined){
			        	  var refElement = jQuery('#'+hashVal);
					        if (refElement !== null && refElement !== undefined
							        && refElement.position() !== null && refElement.position() !== undefined
							        && (refElement.position().top - 30) <= scrollPos) {
					            jQuery('.nav li').removeClass("active");
					            currLink.parent().addClass("active");					        
					        }
						}
			        }
			    });
			}
		}
  }*/

</script>
</html>